@charset "utf-8";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/* ===FONTS=== */

/* Default version */
@font-face {
  font-family: 'Larke Sans';
  src: url('fonts/Larke_Sans_Light_2.eot');
  src: 
        local('Larke Sans'),
        local('Larke-Sans'),
        url('./fonts/Larke_Sans_Light_2.ttf')
        format('truetype');
}

/* Bold version */
@font-face {
  font-family: 'Larke Sans';
  src: url('fonts/Larke_Sans_Bold.eot');
  src: 
        local('Larke Sans Bold'),
        local('Larke-Sans-Bold'),
        url('fonts/Larke_Sans_Bold.ttf')
        format('truetype');
  font-weight: bold;
}

/* ===MAIN STYLES=== */

html body {
  font-family: 'Varela Round', 'sans-serif';
}

h1 {
  font-family: 'Larke Sans', 'serif';
  font-weight: bold;
}

.header-padding {
  padding: 20px 20px;
}

.grid-container {
  padding: 0 15px;
}

button.apply-button {
  width: 100%;
}