@import "bourbon/bourbon";
@import "modules/colors.css.scss";


@font-face {
  font-family: OpenSans-Light;
  src: url("../OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-CondLight;
  src: url("../OpenSans-CondLight.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-CondBold;
  src: url("../OpenSans-CondBold.ttf");
}

/* PAGE SPECIFIC styles =========== */

html #apply {
  background: #BDC2BE;
}
html #apply #wrapper {
  height: 600px;
}
html #apply .footerBox {
  top: -140px;
}

/* TOP OF PAGE styles =========== */

.yellow-box {
  background: $yum-sauce;
  height: 50px;
  width: 70%;
  margin: 75px auto 0;
  text-align: center;
  vertical-align: center;
}
.yellow-box h1 {
  font-size: 1.2em;
  font-family: OpenSans-CondLight;
  padding-top: 4px;
}
.appTopBox {
  height: 350px;
  background: #E5E5E5;
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: -140px;
  z-index: -10;
}
.appTextBox {
  position: relative;
  top: 150px;
  width: 70%;
  margin: 0 auto;
}
.appTextBox h2, .appTextBox h3 {
  font-size: 1.5em;
  font-family: OpenSans-CondBold;
}
.appTextBox p {
  font-family: OpenSans-CondLight;
  margin-left: 20px;
}
.requiredBox {
  height: 55px;
  width: 420px;
  background: #BDC2BE;
  position: absolute;
  top: 145px;
  left: -12%;
}
.requiredBox h3 {
  padding-left: 65px;
  margin-top: 7px;
}
.applyBox {
  position: relative;
  width: 90%;
  top: 40px;
}
.applyRailsBox, .applyJSBox {
  width: 300px;
  float: left;
}
.applyRailsBox {
  margin-left: 19%;
}
.applyJSBox {
  margin-left: 20px;
  border-left: 1px solid #CCC;
  padding-left: 10px;
}
.applyRailsBox h3,
.applyJSBox h3,
.applyRailsBox h4,
.applyJSBox h4 {
  font-family: OpenSans-CondBold;
  font-size: 1.2em;
}
.applyRailsBox h4, .applyJSBox h4 {
  opacity: .5;
}
.applyBox li {
  font-family: OpenSans-CondLight;
}
.applyBox p {
  font-family: OpenSans-Regular;
}
.applyBox a {
  color: $elvish;
  text-decoration: underline;
}
.applyBox a:hover {
  color: $yum-sauce;
}
ul ul li:before {
  content:"-";
  position:relative;
  left:-5px;
}
ul ul li {
  text-indent:-5px;
  list-style: none;
}
.applyBottomLinks {
  position: absolute;
  top: 525px;
  left: 26%;
}
.applyContent {
  background: white;
  height: 700px;
  position: relative;
  top: -140px;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

.appTopBox, .applyContent {
  box-shadow: 2px 10px 5px -2px #888,
              -2px 10px 5px -2px #888;
}