@import "modules/colors.css.scss";

#homepage #sponsors {
  .third-col {
    margin: 0 auto;
    text-align: center;
  }
}

#faq .question {
  margin-bottom: 30px;
  p:nth-child(1) {
    margin-bottom: .5em;
  }
}

#hire .engagement {
  img {
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 2.5em;
    height: 100px;
  }
  p {
    margin-left: 120px;
  }
}

#apply {
  table {
    margin-top: 20px;
  }
  h3 {
    margin-bottom: 16px;
  }
}