@import "modules/colors.css.scss";

/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/
@media screen and (min-width: 15em) and (max-width: 30em) {

  //Typography
  p,ul,td,th{
    font-size: ($font-size - 1) / $em;
  }
  ul ul{
    font-size: 1em;
  }
  li a{
    font-size: ($font-size - 1) / $em;
  }
  h1{
    font-size: ($font-size +11) / $em;
    margin-bottom: 4px / $em;
    padding-top: 8px / $em;
  }
  h2{
    font-size: ($font-size + 3) / $em;
  }
  h3{
    font-size: ($font-size + 1) / $em;
  }
  //Grid
  #container, #wrapper{
    margin: 0 auto;
    @include width(4);
  }

  .left-col, .right-col, .full-width, .third-col, .readable-width{
    @include width(4);
  }
  .sixth-col{
    @include width(2);
    float: left;
  }
  #intro{
    text-align: left;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 280px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 15px;
    padding-left: 25px;
  }
  #menu ul li{
    text-align: left;
    width: 100%;
    margin-top: 5px;
  }
  #menu ul li a{
    font-size: ($font-size + 5) / $em;
    text-shadow: none;
  }
  #alumni{
    display: none;
  }
}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) and (max-width: 37.5em) {

  //Typography
  p,ul,td,th{
    font-size: ($font-size - 2) / $em;
  }
  ul ul{
    font-size: 1em;
  }
  h1{
    font-size: ($font-size + 20) / $em;
  }
  h2{
    font-size: 1.2em;
  }
  //Grid
  #container, #wrapper {
    margin: 0 auto;
  }
  #container, #wrapper, .left-col, .right-col, .full-width, .third-col, .readable-width{
    @include width(6);
  }
  .sixth-col{
    @include width(6);
  }
  #intro{
    text-align: left;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 445px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 15px;
  }
  #menu ul li a{
    font-size: 1.5em;
    text-shadow: none;
  }
  #homepage #sponsors {
    h2 {
      text-align: center;
      padding-top: 20px;
    }
    .image-row {
      text-align: center;
      margin: 0 auto;
    }
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) and (max-width: 57em) {

  //Typography
  p,ul,td,th{
    font-size: ($font-size - 2) / $em;
  }
  ul ul{
    font-size: 1em;
  }
  h1{
    font-size: ($font-size + 30) / $em;
  }
  h2{
    font-size: ($font-size + 3) / $em;
  }
  .next-event-button {
    position: relative;
    top: -100px;
    left: -18%;
  }
  .now-accepting {
    bottom: 165px;
  }
  .now-accepting h3 {
    font-size: 1.2em;
    padding-left: 30px;
  }
  .text-overlay p {
    font-size: 2em;
  }
  .spacer {
    height: 30px;
  }
  .home-img {
    height: 365px;
  }
  //Grid
  #container, #wrapper{
    @include width(8);
    margin: 0 auto;
  }
  .left-col{
    @include width(4);
    float: left;
    margin-right: $gutter;
  }
  .right-col{
    @include width(4);
    float: right;
  }
  .full-width, .readable-width{
    @include width(8);
    clear: both;
  }
  .third-col{
    @include width(4);
    float: left;
  }
  .third-col.first {
    margin-right: $gutter;
  }
  .third-col.last{
    @include width(8);
    clear: both;
  }
  .sixth-col{
    @include width(2);
    float: left;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 585px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 15px;
  }
  #menu ul li a{
    font-size: ($font-size + 3) / $em;
  }
  #homepage #sponsors {
    h2 {
      text-align: center;
      padding-top: 20px;
    }
    .image-row {
      margin-left: $cols4;
    }
  }
  .readable-width {
    width: 95%;
    padding: 20px;
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em) {
  //Typography
  p {
    font-size: ($font-size) / $em;
  }
  h1{
    font-size: ($font-size + 50) / $em;
  }
  h2{
    font-size: ($font-size + 10) / $em;
  }
  //Grid
  #container, #wrapper{
    @include width(12);
    margin: 0 auto;
  }
  .left-col{
    @include width(6);
    float: left;
    margin-right: $gutter;
  }
  .right-col{
    @include width(6);
    float: right;
  }
  .full-width{
    @include width(12);
    clear: both;
  }
  .readable-width{
    margin-left: (1 * ($column + $gutter)) / $em;
    @include width(10);
    padding: 25px 0;


    li {
      margin-left: 5px;
      padding-bottom: 4px;
    }
  }
  .third-col{
    @include width(4);
    margin-right: $gutter;
    float: left;
  }
  .third-col.last{
    margin-right: 0px;
  }
  .sixth-col{
    @include width(2);
    margin-right: $gutter;
    float: left;
  }
  .sixth-col.last{
    margin-right: 0px;
  }

  h2{
    color: $title-color;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  header img{
    float: left;
    padding-top: 8px;
    padding-left: 15px;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 875px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 40px;
  }
  #menu ul li.first{
    margin-left: 24px;
  }
  #menu ul li{
    margin-right: 36px;
  }
  #intro p{
    padding: 0 100px;
  }
  footer {
    position: relative;
    left: -24px;
    width: 875px;
    padding: 30px 12px 30px 17px;
  }

  #homepage #sponsors {
    padding-top: 10px;
    .third-col {
      margin: 0 auto;
      text-align: center;
    }
    #crowdcompass a {
      top: -9px;
    }
    #elemental a {
      top: -3px;
    }
  }
}