@import "bourbon/bourbon";
@import "modules/colors.css.scss";

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em) {


}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) and (max-width: 57em) {


}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) and (max-width: 37.5em) {


}

/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/
@media screen and (min-width: 15em) and (max-width: 30em) {
  /* HEADER */
  header {
    top: 50px;
  }
  header ul {
    margin: 0;
  }
  .search-box {
    display: none;
  }
  .pcs-logo {
    top: -80px;
    left: 60px;
    background: $elvish;
    padding: 10px;
  }

  /* MAIN IMAGE */
  .home-img img {
    max-width: 100%;
  }

  /* SMALL BOXES */
  .text-a, .apply-box {
    display: none;
  }

  /* GRAY BOX */
  .greyMatter {
    display: none;
  }

  /* YELLOW BOXES */
  .yellowRails, .yellowJS {
    position: relative;
  }
  .yellowJSBody, .yellowRailsBody {
    display: none;
  }
  .yellowRails, .yellowJS {
    top: 355px;
    left: -80px;
    width: 320px;
  }
  .yellowJS {
    top: 360px;
  }
  .yellowJS a, .yellowRails a {
    color: $elvish;
    background: none;
    height: 30px;
    width: 30%;
    line-height: 30px;
    position: relative;
    top: -40px;
    left: 230px;
    text-decoration: underline;
  }

  /* MAILING LIST and CONTACT BOXES*/
  .mailingList, .contactBox {
    display: none;
  }

  /* BOTTOM LINKS */
  .yellowBoxes ul,
  .contact-bottom-box ul,
  .applyBottomLinks ul {
    width: 200px;
    top: 540px;
    left: -10px;
  }







}