//Imports
@import "modules/grid.css.scss";
@import "modules/normalize.css";
@import "modules/colors.css.scss";

//Grid
header{
  margin-right: auto;
  margin-left: auto;
  position: relative;
  line-height: 1;
}
header a{
  text-decoration: none;
}
body{
  height: 100%;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  background: $bg-color;
  color: $text-color;
  line-height: 1.5;
}
#menu ul{
  text-align: center;
  width: 100%;
}
#menu li{
  margin-right: 12px;
  list-style: none;
  display: inline-block;
}
#menu li a{
  color: $title-color;
  font-weight: normal;
  font-size: ($font-size + 8) / $em;
  text-decoration: none;
  text-shadow: 0px 1px 0px lighten($title-color, 50%);
}
#menu li a:hover{
  color: $text-color;
}
#wrapper{
  padding: 24px;
  background-color: $main-bg-color;
  border-right: 4px $highlight-color solid;
  border-left: 4px $highlight-color solid;
  min-height: 100%;
  box-shadow: 0px -5px 10px #666;
}
h1{
  width: 100%;
  display: block;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  text-shadow: 0px 2px 1px $highlight-color;
  filter: dropshadow(color=$highlight-color, offx=0, offy=1);
  margin-top: 0px;
  padding-top: 10px;
  color: $title-color;
}
h2, h3, h4, h5, h6 {
  font-family: 'ABeeZee', sans-serif;
  color: $title-color;
  margin-top: 10px;
  font-weight: lighter;
}
header p, #intro p{
  text-align: justify;
  font-style: italic;
}
header img{
  margin-right: 16px;
}
footer {
  text-align: center;
  .third-col.alpha {
    margin-left: 12px;
  }
  .third-col.omega {
    margin-right: 0px;
  }
  input {
    width: 73%;
    margin-bottom: 8px;
  }
  .button {
    width: 75%;
  }
  h2 {
    border-bottom: 0;
    margin-bottom: 16px;
  }
  #bottom-links ul {
    list-style: none;
    margin: 0;
  }
}
a, a:visited{
  color: $link-color;
}
a:hover{
  color: $highlight-color;
}
ul{
  margin-left: 15px;
  margin-bottom: 1em;
  ul {
    margin-bottom: 0;
  }
}
li{
  margin-top: 0.25em;
}
p{
  line-height: 1.5em;
  margin-bottom: .75em;
}
hr{
  border-bottom: 1px solid $title-color;
  border-top:none;
  margin-bottom: 1em;
}
h2{
  margin-bottom: 6px / $em;
}
h3{
  margin-bottom: 6px / $em;
}
table {
  width: 100%;
  border-left: 1px solid $highlight-color;
  border-top: 1px solid $highlight-color;
  tr {
    border-bottom: 1px solid $highlight-color;
  }
  tr:nth-child(odd) td {
    background-color: $bg-color;
  }
  td, th {
    padding: 8px;
    border-right: 1px solid $highlight-color;
  }
  th {
    text-align: left;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding-bottom: 4px;
  }
}
.right-col, .left-col{
  margin-bottom: 10px;
}
.right{
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
.left{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.button, a.button{
  background-color: $title-color;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  box-shadow: 1px 2px #ccc;
  border: none;
}
.image-row a{
  position: relative;
  line-height: 100px;
  img{
    vertical-align: middle;
  }
}

@import "responsive.css.scss";