//Imports
@import "modules/grid.css.scss";
@import "modules/normalize.css";
@import "modules/colors.css.scss";

//Grid
header{
  margin-right: auto;
  margin-left: auto;
  position: relative;
  line-height: 1;
}
header a{
  text-decoration: none;
}
body{
  height: 100%;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  background: #CCC url('http://blogimg.goo.ne.jp/user_image/76/65/6df340dc0d29f83b49dc3d083c2673b4.jpg') repeat;
  color: $text-color;
  line-height: 1.5;
}
#menu ul{
  margin-left: 15px;
  text-align: center;
  width: 100%;
}
#menu li{
  margin-right: 12px;
  list-style: none;
  display: inline-block;
}
#menu li a{
  color: $title-color;
  font-weight: normal;
  font-size: ($font-size + 8) / $em;
  text-decoration: none;
  text-shadow: 0px 1px 0px lighten($title-color, 50%);
}
#menu li a:hover{
  color: $text-color;
}
#wrapper{
  background-color: $main-bg-color;
}
/* h1{
  width: 100%;
  display: block;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  text-shadow: 0px 2px 1px $highlight-color;
  filter: dropshadow(color=$highlight-color, offx=0, offy=1);
  margin-top: 0px;
  padding-top: 10px;
  color: $title-color;
} */
h2, h3, h4, h5, h6 {
  font-family: 'ABeeZee', sans-serif;
  color: $title-color;
  margin-top: 10px;
  font-weight: lighter;
}
header p, #intro p{
  text-align: justify;
  font-style: italic;
}

#page-wrapper {
  box-shadow: 0 3px 10px black;
}

/* HEADER STYLES ============= */

header {
  position: relative;
  width: 85%;
}
#school-logo {
  width: 20%;
}
header .nav {
  position: absolute;
  right: -25px;
  top: 15px;
}
header .btn-apply {
  position: absolute;
  right: 0;
  top: 80px;
}
.spacer {
  height: 130px;
}
header .btn-event {
  position: absolute;
  top: 80px;
  right: 10%;
}

/* INDEX PAGE STYLES ============= */

.home-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.home-img img {
  opacity: .6;
}
.text-overlay {
  position: absolute;
  left: 12%;
  top: 0;
}
.text-overlay p {
  font-size: 3em;
  color: #444;
  text-shadow: 1px 1px white;
}
.home-img button {
  position: absolute;
  right: 45%;
  top: 175px;
}
.now-accepting {
  position: relative;
  left: 17%;
  bottom: 210px;
  width: 80%;
}
.now-accepting h3 {
  color: blue;
  text-shadow: 1px 1px 1px white;
}

/* PROGRAM PAGE STYLES ============= */

#rails-desc {
  padding-top: 1px;
}
.rails-logo, .js-logo {
  width: 85%;
  margin: 20px auto;
  text-align: center;
}
.rails-logo img, .js-logo img {
  margin-bottom: 10px;
  padding-top: 10px
}
.rails-logo img {
  width: 10%;
}
.js-logo img {
  width: 15%;
}
.rails-logo h3, .js-logo h3 {
  color: #649DFF;
}

/* CONTACT PAGE STYLES ============= */

#contact-box {
  text-align: center;
  padding: 50px 0 40px;
}
#contact-box h1 {
  font-size: 2.5em;
}
#contact-box h1 + h3 {
  padding-top: 30px;
  font-size: 2em;
}

/* CLASS DETAILS PAGE STYLES ============= */

.details-box {
  padding: 120px;
}
.details-box h2 {
  color: #666;
  text-align: left;
}


/* FOOTER STYLES ============= */

footer {
  text-align: center;
  input {
    width: 73%;
    margin-bottom: 8px;
  }
  .button {
    width: 75%;
  }
  h2 {
    border-bottom: 0;
    margin-bottom: 16px;
  }
  #bottom-links ul {
    list-style: none;
    margin: 0;
  }
}
a, a:visited{
  color: $link-color;
}
a:hover{
  color: $highlight-color;
}
ul{
  margin-left: $gutter;
  margin-bottom: 1em;
  ul {
    margin-bottom: 0;
  }
}
li{
  margin-top: 0.25em;
}
p{
  line-height: 1.5em;
  margin-bottom: .75em;
}
hr{
  border-bottom: 1px solid $title-color;
  border-top:none;
  margin-bottom: 1em;
}
h2{
  margin-bottom: 6px / $em;
}
h3{
  margin-bottom: 6px / $em;
}
table {
  width: 100%;
  border-left: 1px solid $highlight-color;
  border-top: 1px solid $highlight-color;
  tr {
    border-bottom: 1px solid $highlight-color;
  }
  tr:nth-child(odd) td {
    background-color: $bg-color;
  }
  td, th {
    padding: 8px;
    border-right: 1px solid $highlight-color;
  }
  th {
    text-align: left;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding-bottom: 4px;
  }
}
.right-col, .left-col{
  margin-bottom: 10px;
}
.right{
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
.left{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.button, a.button{
  background-color: $title-color;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  box-shadow: 1px 2px #ccc;
  border: none;
}
.image-row a{
  position: relative;
  line-height: 100px;
  img{
    vertical-align: middle;
  }
}

@import "responsive.css.scss";