//Imports
@import "modules/grid.css.scss";
@import "modules/normalize.css";
//Variables
$main-bg-color: #FFF;
// I demand a pancake
$text-color: #594F4F;
$bg-color: #E5FCC2;
$link-color: #45ADA8;
$title-color: #547980;
$highlight-color: #9DE0AD;
// I love you
// $text-color: #594F4F;
// $bg-color: #009989;
// $link-color: #EDB92E;
// $title-color: #CE1836;
// $highlight-color: #EDB92E;

//Grid
header{
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
header a{
  text-decoration: none;
}
body{
  height: 100%;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  background: $bg-color;
  color: $text-color;
}
#menu ul{
  text-align: center;
  width: 100%;
}
#menu li{
  margin-right: 12px;
  list-style: none;
  display: inline-block;
}
#menu li a{
  color: $title-color;
  font-weight: normal;
  font-size: ($font-size + 8) / $em;
  text-decoration: none;
  text-shadow: 0px 1px 0px lighten($title-color, 50%);
}
#menu li a:hover{
  color: $text-color;
}
#wrapper{
  padding: 24px;
  background-color: $main-bg-color;
  border-right: 4px $highlight-color solid;
  border-left: 4px $highlight-color solid;
  min-height: 100%;
  box-shadow: 0px -5px 10px #666;
}
h1{
  width: 100%;
  display: block;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  text-shadow: 0px 2px 1px $highlight-color;
  filter: dropshadow(color=$highlight-color, offx=0, offy=1);
  margin-top: 0px;
  padding-top: 10px;
  color: $title-color;
}
h2, h3, h4, h5, h6 {
  font-family: 'ABeeZee', sans-serif;
  color: $title-color;
  margin-top: 10px;
  font-weight: lighter;
}
header p, #intro p{
  text-align: justify;
  font-style: italic;
}
header img{
  margin-right: 16px;
}
a, a:visited{
  color: $link-color;
}
a:hover{
  color: $highlight-color;
}
ul{
  margin-left: 15px;
  margin-bottom: 1em;
}
li{
  margin-top: 0.25em;
}
p{
  line-height: 1.5em;
  margin-bottom: 1em;
}
hr{
  border-bottom: 1px solid $title-color;
  border-top:none;
  margin-bottom: 1em;
}
h2{
  margin-bottom: 6px / $em;
}
h3{
  margin-bottom: 6px / $em;
}
.right-col, .left-col{
  margin-bottom: 10px;
}
.right{
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
.left{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
a.button{
  background-color: $title-color;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  box-shadow: 1px 2px #ccc;
}
.image-row a{
  line-height: 100px;
  img{
    vertical-align: middle;
  }
}
/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/
@media screen and (min-width: 15em) and (max-width: 30em) {

  //Typography
  p{
    font-size: ($font-size - 4) / $em;
  }
  li a{
    font-size: ($font-size - 4) / $em;
  }
  h1{
    font-size: ($font-size +11) / $em;
    margin-bottom: 4px / $em;
    padding-top: 8px / $em;
  }
  h2{
    font-size: ($font-size + 1) / $em;
  }
  h3{
    font-size: ($font-size - 2) / $em;
  }
  //Grid
  #container, #wrapper{
    margin: 0 auto;
    @include width(4);
  }

  .left-col, .right-col, .full-width, .third-col, .readable-width{
    @include width(4);
  }
  .sixth-col{
    @include width(2);
    float: left;
  }
  #sponsors {
    @include width(4);
    margin-left: 15px;
  }
  #sponsors h2{
    margin-left: -30px;
  }
  #intro{
    text-align: left;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 280px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 15px;
    padding-left: 25px;
  }
  #menu ul li{
    text-align: left;
    width: 100%;
    margin-top: 5px;
  }
  #menu ul li a{
    font-size: ($font-size - 1) / $em;
  }
  #alumni{
    display: none;
  }
}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) and (max-width: 37.5em) {

  //Typography
  p{
    font-size: ($font-size - 2) / $em;
  }
  h1{
    font-size: ($font-size + 20) / $em;
  }
  h2{
    font-size: ($font-size - 1) / $em;
  }
  //Grid
  #container, #wrapper {
    margin: 0 auto;
  }
  #container, #wrapper, .left-col, .right-col, .full-width, .third-col, .readable-width{
    @include width(6);
  }
  .sixth-col{
    @include width(2);
    float: left;
  }
  #intro{
    text-align: left;
  }
  #sponsors {
    @include width(6);
    margin-left: 25px;
  }
  #sponsors h2{
    margin-left: -50px;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 445px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 15px;
  }
  #menu ul li a{
    font-size: ($font-size - 1) / $em;
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) and (max-width: 57em) {

  //Typography
  p {
    font-size: ($font-size - 2) / $em;
  }
  h1{
    font-size: ($font-size + 30) / $em;
  }
  h2{
    font-size: ($font-size + 3) / $em;
  }
  //Grid
  #container, #wrapper{
    @include width(8);
    margin: 0 auto;
  }
  .left-col{
    @include width(4);
    float: left;
    margin-right: $gutter;
  }
  .right-col{
    @include width(4);
    float: right;
  }
  .full-width, .readable-width{
    @include width(8);
    clear: both;
  }
  .third-col{
    @include width(4);
    float: left;
  }
  .third-col.first {
    margin-right: $gutter;
  }
  .third-col.last{
    @include width(8);
    clear: both;
  }
  .sixth-col{
    @include width(2);
    float: left;
  }
  #sponsors {
    @include width(8);
    margin-left: 35px;
  }
  #sponsors h2{
    margin-left: -70px;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 585px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 15px;
  }
  #menu ul li a{
    font-size: ($font-size + 3) / $em;
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em) {
  //Typography
  p {
    font-size: ($font-size) / $em;
  }
  h1{
    font-size: ($font-size + 50) / $em;
  }
  h2{
    font-size: ($font-size + 10) / $em;
  }
  //Grid
  #container, #wrapper{
    @include width(12);
    margin: 0 auto;
  }
  .left-col{
    @include width(6);
    float: left;
    margin-right: $gutter;
  }
  .right-col{
    @include width(6);
    float: right;
  }
  .full-width{
    @include width(12);
    clear: both;
  }
  .readable-width{
    @include width(8);
    clear: both;
    margin: 0 auto;

    ul {
      margin-top: -9px;
    }
    li {
      margin-left: 5px;
      padding-bottom: 4px;
    }
  }
  .third-col{
    @include width(4);
    margin-right: $gutter;
    float: left;
  }
  .third-col.last{
    margin-right: 0px;
  }
  .sixth-col{
    @include width(2);
    margin-right: $gutter;
    float: left;
  }
  .sixth-col.last{
    margin-right: 0px;
  }

  h2{
    color: $title-color;
    margin-top: 30px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .line, .line-half, .line-quarter{
    width: 100%;
    text-align: center;
  }
  .line:after, .line:before{
    content: "";
    border-bottom: 1px solid $title-color;
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 0 10px 7px 10px;
  }
  .line-half:after, .line-half:before{
    content: "";
    border-bottom: 1px solid $title-color;
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 0 10px 7px 10px;
  }
  .line-quarter:after, .line-quarter:before {
    content: "";
    border-bottom: 1px solid $title-color;
    position: relative;
    display: inline-block;
    width: 75px;
    margin: 0 10px 7px 10px;
  }

  header img{
    float: left;
    padding-top: 8px;
    padding-left: 15px;
  }
  #menu ul{
    position: relative;
    left: -40px;
    width: 875px;
    background-color: $highlight-color;
    padding: 8px;
    margin-top: 40px;
  }
  #menu ul li.first{
    margin-left: 24px;
  }
  #menu ul li{
    margin-right: 36px;
  }
  #intro p{
    padding: 0 100px;
  }
}

// Custom rules
#sponsors div{
  margin-bottom: 15px;
  text-align: center;
}
#alumni div{
  text-align: center;
}
#alumni p, #alumni h3{
  text-align: left;
}
#contact{
  color: $link-color;
}