
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<ul class="list-group">
  <strong>Tuition:</strong>
  <li class="list-group-item">
    <span class="badge">$7995</span>
    Price*:
  </li>
  <h4>
  	*We encourage early registration for classes! If you complete your application process and are accepted into the program no later than February 27 or April 3, you may qualify for early bird discounts.
  </h4>
  <h4>
  	We are excited to offer financing through our partnership with <%= link_to "Climb Credit", "https://climbcredit.co/", :target=>"_blank" %>. Climb offers financing for your tuition over a 3.5 year period, although you can pay off your loan early without any penalties. When you are accepted into our program, you can apply for approval. Most applicants find out if they qualify the same day they apply.
  </h4>
</ul>
