
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<ul class="list-group">
  <strong>Tuition:</strong>
  <li class="list-group-item">
    <span class="badge">$6995</span>
    Base Price:
  </li>
  <li class="list-group-item">
    <span class="badge">$8760</span>
    Payment Plan Price:
  </li>
</ul>

<%= partial "partials/discounts" %>

<span class="asterisk">*</span> <em>Discounts may be combined</em>
