<table class="table table-bordered cost-table">
  <tbody>
    <tr>
      <th colspan="2">
        <strong>Tuition:</strong>
      </th>
    </tr>
    <tr>
      <td>
        Base Price:
      </td>
      <td>
        $6995
      </td>
    </tr>
    <tr>
      <td>
        Payment Plan Price:
      </td>
      <td>
        $8760
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <strong>Discounts:<span class="asterisk">*</span></strong>
      </th>
    </tr>
    <tr>
      <td>
        Early Application:
      </td>
      <td>
        10% Off
      </td>
    </tr>
    <tr>
      <td>
        Payment in Full:
      </td>
      <td>
        10% Off
      </td>
    </tr>
  </tbody>
</table>

<span class="asterisk">*</span> <em>Discounts may be combined</em>
