
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<table class="table table-bordered cost-table">
  <tbody>
    <tr>
      <th colspan="2">
        <strong>Tuition:</strong>
      </th>
    </tr>
    <tr>
      <td>
        Base Price:
      </td>
      <td>
        $3995
      </td>
    </tr>
    <tr>
      <td>
        Payment Plan Price:
      </td>
      <td>
        $4995
      </td>
    </tr>
    <%= partial "partials/discounts" %>
  </tbody>
</table>

<span class="asterisk">*</span> <em>Discounts may be combined</em>
