
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<ul class="list-group">
  <!-- <strong>Tuition:</strong> -->
  <li class="list-group-item">
    <span class="badge">$4995</span>
    Tuition*:
  </li>
  <h4>
  	*We encourage early registration for classes! If you complete your application process and are accepted into the program by the following dates, you may qualify for early bird discounts:
  </h4>
  <ul>
    <li>JavaScript Evening: April 17 or May 29</li>
    <li>JavaScript/Ruby on Rails: May 22 and June 12</li>
  </ul>
  <h4>
  	We are excited to offer financing through our partnership with <%= link_to "Climb Credit", "https://climbcredit.co/", :target=>"_blank" %>. Climb offers financing for your tuition over a 3.5 year period, although you can pay off your loan early without any penalties. When you are accepted into our program, you can apply for approval. Most applicants find out if they qualify the same day they apply.
  </h4>
</ul>
