
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<ul class="list-group">
  <strong>Tuition:</strong>
  <li class="list-group-item">
    <span class="badge">$3995</span>
    Base Price:
  </li>
  <h4>
  	Ask us about financing options thru our new partner <%= link_to "Climb", "https://climbcredit.co/", :target=>"_blank" %>.
  </h4>
</ul>
