<table class="table table-bordered cost-table">
  <tbody>
    <tr>
      <th colspan="2">
        <strong>Tuition:</strong>
      </th>
    </tr>
    <tr>
      <td>
        Base Price:
      </td>
      <td>
        $1295
      </td>
    </tr>
    <tr>
      <th colspan="2">
        Discounts:<span class="asterisk">*</span>
      </th>
    </tr>
    <tr>
      <td>
        Early Application:
      </td>
      <td>
        10% Off
      </td>
    </tr>
    <tr>
      <td>
        Payment in Full:
      </td>
      <td>
        10% Off
      </td>
    </tr>
    <tr>
      <td>
        Friend of PCS:
      </td>
      <td>
        $300 Off
      </td>
    </tr>
  </tbody>
</table>

<span class="asterisk">*</span> <em>Discounts may be combined</em>
