<div class="push"></div>

<!-- Place text content below close button, or else alert will not fully dismiss -->
<div class="alert alert-info alert-dismissable alert-link text-center">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

<!--   <p>
    <ul>
      Get started with:
      <li><%= link_to "Web Foundations", "/webfoundations.html" %></li>
      <li><%= link_to "Mobile Development", "/mobile-ios.html" %></li>
      <li><%= link_to "Data Visualization", "/datavisualization.html" %></li>
    </ul>
  </p> -->
  <br>
  <div class="ios-banner">
    <p><%= link_to "Learn iOS at 50% off!", "/mobile-ios.html" %></p>
  </div>
</div>
