<div class="push"></div>

<!-- Place text content below close button, or else alert will not fully dismiss -->
<div class="alert alert-info alert-dismissable alert-link text-center">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

  <p><%= link_to "Become A Developer", "/enroll.html" %> or <%= link_to "Learn Mobile Development", "/mobile.html" %></p>
</div>
