
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row text-center">
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-lg class-btn">
      <%= link_to "Choose a Class", "/classes" %>
    </button>
    <button type="button" class="btn btn-default btn-lg dropdown-toggle class-btn" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>

    <%= partial "partials/classdropdown.html" %>

  </div>
</div>

<div class="row">
  <h2><%= current_page.data.title %></h2>
  <hr>
</div>
