
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Devops class info -->
<div class="row jumbotron">
  <% link_to "/devops.html" do %>
    <%= image_tag "dataviz.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">DevOps</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong>Dates: July 7th</strong>
  </p>

  <p>
    <strong>Hours: TBA</strong>
  </p>

  <p>
    <strong>Focus:</strong> Data analysis and visualization
  </p>

  <p>
    <strong>Audience:</strong> Intermediate coders who want to learn more about data visualization and data analysis.
  </p>

  <p>
    <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <p>Description coming soon!</p>
</div> <!-- Devops -->
