
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Devops class info -->
<div class="row jumbotron">
  <% link_to "/devops.html" do %>
    <%= image_tag "devops_coming_soon.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">DevOps</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong>Hours: TBA</strong>
  </p>

  <p>
    <strong>Focus:</strong> Web application design and deployment for scalability and resiliency
  </p>

  <p>
    <strong>Audience:</strong> Programmers and system administrators
  </p>

  <p>
    <%= link_to "Add me to the list!", "/getinfo.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <p>Upon successful completion, participants will be able to:
  </p>
  <ul>
  <li>Describe the business advantages of DevOps, cloud computing and infrastructure-as-code</li>

  <li>Model the behaviors required for cooperation and collaboration between development and operations teams</li>

  <li>Practice agile methods for release planning and deployment</li>

  <li>Script and deploy virtual machines in the Amazon cloud using Vagrant and other provisioning tools</li>

  <li>Manage large networks of virtual machines via scripts using Puppet and other configuration management tools</li>

  <li>Monitor application performance and pinpoint issues using New Relic and other monitoring tools</li>

  <li>Plan resilient architectures and execute disaster recovery scenarios</li>

  <li>Architect applications to automatically scale in response to load</li>

  <li>Plan and execute encrypted data storage in the cloud to meet high-security and HIPAA requirements</li>
  </ul>
</div> <!-- Devops -->