
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Devops class info -->
<div class="row">
  <%= image_tag "devops_coming_soon.png", :class=>"img-responsive" %>

  <h2 class="sr-only">DevOps</h2>

  <h4 class="link-padding">
    Hours: TBA
  </h4>

  <p>
    <strong>This course is eligible for 
      <% link_to "/childcare.html" do %>
        <%= image_tag "cwk_text.png" %>
      <% end %>
    </strong>
  </p>

  <p><strong>Focus:</strong> Web application design and deployment for scalability and resiliency </p>
  <p><strong>Audience:</strong> Programmers and system administrators</p>

  <p>Upon successful completion, participants will be able to:
  </p>
  <ul>
  <li>Describe the business advantages of DevOps, cloud computing and infrastructure-as-code</li>

  <li>Model the behaviors required for cooperation and collaboration between development and operations teams</li>

  <li>Practice agile methods for release planning and deployment</li>

  <li>Script and deploy virtual machines in the Amazon cloud using Vagrant and other provisioning tools</li>

  <li>Manage large networks of virtual machines via scripts using Puppet and other configuration management tools</li>

  <li>Monitor application performance and pinpoint issues using New Relic and other monitoring tools</li>

  <li>Plan resilient architectures and execute disaster recovery scenarios</li>

  <li>Architect applications to automatically scale in response to load</li>

  <li>Plan and execute encrypted data storage in the cloud to meet high-security and HIPAA requirements</li>
  </ul>
</div> <!-- Devops -->