
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<ul class="list-group">
  <strong>Discounts:<span class="asterisk">*</span></strong>
  <li class="list-group-item">
    <span class="badge">10% Off</span>
    Early Application: </br><em>(July 25th)</em>
  </li>
  <li class="list-group-item">
    <span class="badge">10% Off</span>
    Payment in Full: </br><em>(August 25th)</em>
  </li>
  <li class="list-group-item">
    <span class="badge">5% Off</span>
    Friend of PCS:
  </li>
</ul>
