
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<tr>
  <th colspan="2">
    Discounts:<span class="asterisk">*</span>
  </th>
</tr>
<tr>
  <td>
    Early Application: (July 25th)
  </td>
  <td>
    10% Off
  </td>
</tr>
<tr>
  <td>
    Payment in Full: (August 25th)
  </td>
  <td>
    10% Off
  </td>
</tr>
<tr>
  <td>
    Friend of PCS:
  </td>
  <td>
    5% Off
  </td>
</tr>
