<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "huston.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="huston-hedinger" class="link-padding">Huston Hedinger</h3>
    <h4>Co-Founder, Graph Alchemist</h4>
    <h4>Instructor for: Data Visualization and Analytics</h4>
    <p>
      Huston Hedinger is the Founder and CEO of GraphAlchemist, a Portland based firm that provides data science and data visualization as a service.  Huston loves data visualization, and the amazingly complex stories that data viz elegantly tells.  He began his software engineering journey in R and Python while in graduate school.  Now Huston works across all web technologies with his team, with a focus on d3.js for data visualization, angular.js as a client side web framework, and neo4j the worlds leading graph database and a cutting edge NoSQL technology.
    </p>
    <p>
      All of Huston’s free time is spent with his family, or watching the Timbers, or both.
    </p>
  </div>
</div>