
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="hidden-xs">
  <iframe src="https://docs.google.com/forms/d/1IkU2Ar6UJohi9YIM-eSHTy-sSZMtB2gxeUvFqgwlVmA/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class="visible-xs">
  <iframe src="https://docs.google.com/forms/d/1IkU2Ar6UJohi9YIM-eSHTy-sSZMtB2gxeUvFqgwlVmA/viewform?embedded=true" width="270" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
