<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "janice.png", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="janice" class="link-padding">Janice Levenhagen-Seeley</h3>
    <h4>Executive Director, <%= link_to "ChickTech", "http://chicktech.org/", :target=>"_blank" %></h4>
    <h4>Instructor for: <%= link_to "WordPress for Small Businesses", "/wordpress.html", :target=>"_blank" %></h4>

    <p>
      Janice is the Executive Director of ChickTech. She has a BS in Computer Engineering from Oregon State University and an MBA from Willamette University. She believes strongly that the diversity and strengths that women can bring will push high tech to even more impressive heights. Her inspiration for creating ChickTech came from her own experiences in computer engineering and the realization that the percentage of women in engineering isn’t going to get higher by itself.
    </p>

  </div>


</div>