
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- JavaScript class info -->
<div class="row jumbotron">
  <% link_to "/javascript.html" do %>
    <%= image_tag "jsi.png", :class=>"img-responsive centered" %>
  <% end %>


  <h2 class="sr-only">JavaScript Immersion</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

<!--   <p>
    <strong>Dates: April 14 - September 19</strong>
  </p> -->
  <p>
    <strong>Hours: 9am-5pm, Mon-Fri</strong>
  </p>

  <p>
    The JavaScript immersion program will allow students to build the skills necessary to become full time developers. The course will focus on practical skills, tools, and work-flows used by developers to build modern web applications. On a typical day, students will be presented concepts and start developing new skills immediately while <em>writing a lot of code</em>. Students will collaborate by pair programming on both small and large projects. The course will begin with the fundamentals of programming in JavaScript, ensuring that students have a strong grasp on this popular language. Additionally, it will cover Node.js, a platform that many companies have been using to build high performing back-end web applications. Finally, students will learn how to build dynamic front-ends with tools such as jQuery and Ember.js. JavaScript is an extremely powerful language to know as it's used in practically all web applications, and it's use in the programming community is currently on the rise.
  </p>

  <p>
    <%= link_to "Apply Now!", "/getinfo.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <p>
    <strong>NOTE:</strong> Students with NO CODING EXPERIENCE should consider our Primer course before diving in to Full Stack JavaScript (see the Classes page for technical requirements).
  </p>
  <p>
    A week before classes commence, students will be provided Treehouse accounts and expected to complete a few interactive tutorials. This will ensure all students arrive with a similar baseline of knowledge. Students will be expected to attend classes 9am-5pm M-F, but will also have access to the classroom during off hours allowing additional time for group learning. Students will primarily be working and learning in groups of 2-4 people.
  </p>
  <p>
    Integrating oneself into the Portland tech community is possibly the single best decision a new student can make. Forging connections and friendships by attending tech meetups and events is the best way to do this. We cannot force you to do this, but we will try (in a loving way :)
  </p>
  <p>
    PCS hosts and sponsors community events periodically. Some of these will be organized and run by our students.
    Another powerful way for web developers to put their best foot forward &mdash; and be extra attractive to employers &mdash; is to contribute to open source projects. We will cover best practices and different ways to make this happen during the course.
  </p>

  <p>
    <h4>General Outline (may change slightly each session):</h4>
    <ul>
      <li>Week 1: Basic JavaScript, Git, and Test Driven Development</li>
      <li>Week 2: Solving problems with JavaScript</li>
      <li>Week 3: Design patterns and advanced JavaScript</li>
      <li>Week 4: Real world application of skills via a mini project</li>
      <li>Week 5: HTTP, servers, basic Node.js, and persistence</li>
      <li>Week 6: jQuery, AJAX &apm; REST</li>
      <li>Week 7: MVC &amp; Ember.js</li>
      <li>Week 8: Full stack applications</li>
      <li>Weeks 9-12: Advanced topics and projects</li>
    </ul>
  </p>
  <p>
    <h4>Technical Areas Covered:</h4>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Sass</li>
      <li>JavaScript</li>
      <li>Code Quality</li>
      <li>GitHub</li>
      <li>Test Driven Development</li>
      <li>Debugging</li>
      <li>Web Standards</li>
      <li>Databases &amp; Persistence</li>
      <li>jQuery</li>
      <li>JSON</li>
      <li>AJAX</li>
      <li>APIs</li>
      <li>Ember.js</li>
      <li>Node.js</li>
      <li>Interviewing and job preparation</li>
    </ul>
  </p>
</div> <!-- !JavaScript class info -->
