
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Begin MailChimp Signup Form -->
<br>
<div id="mc_embed_signup">

  <form action="http://portlandcodeschool.us7.list-manage1.com/subscribe/post?u=ad545f47273abbcf13534e6cf&amp;id=419c8e5f3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


    <div class="mc-field-group">
      <input type="email" value="" placeholder="email address" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_ad545f47273abbcf13534e6cf_419c8e5f3b" value="">
    </div>

    <div class="clear">
      <input type="submit" value=<% if current_page.data.title == "Portland Code School" %>"Subscribe!"<% else %>"Newsletter"<% end %> name="subscribe" id="mc-embedded-subscribe" class="btn btn-default big-apply-button mc-news">
    </div>


  </form>
</div>

<!--End mc_embed_signup-->
