
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- iOS class info -->
<div class="row jumbotron">
  <% link_to "/#" do %>
    <%= image_tag "mobile-ios.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Mobile Development with iOS</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

<!--   <p>
    <strong>Cost: $3500</strong><br>
    <%= link_to "Contact us", "/contact.html" %> for more information about payment plans and other financial options.
  </p>
 -->
  <p>
    <strong>Dates: Fall 2014</strong>
  </p>

  <p>
    <strong>Hours: TBA</strong>
  </p>

  <p>
    Learn how to build high quality native apps!
  </p>
  <p>
    If you are an experienced developer, and you are looking to either change your focus or enhance your current skill set, then this class will get you there. In 8 weeks, you’ll spend hundreds of hours immersed in iOS—designing spectacular interfaces in Xcode, writing conventional code in Objective-C and Cocoa, practicing unit testing and source control, and implementing industry best practices. Through our network of tech companies and partners, you’ll directly interface with agencies in the Portland area who are actively looking for iOS developers.
  </p>
  <p>
    <strong>Ask about our discounts available for:</strong>
    <ul>
        <li>Non-profits and startups</li>
        <li>Corporate sponsorship of multiple team members</li>
        <li>Early signups with full upfront payment</li>
    </ul>
  </p>
  <p>
    Individual payment plans and financing are also available.
  </p>
  <p>
    Apply now and find out how Portland Code School can help you achieve your next great professional success!
  </p>

  <p>
    <%= partial "partials/mobile-mailing-list-signup" %>
  </p>
</div>
<!-- iOS -->
