
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Mobile class info -->
<div class="row jumbotron">
  <% link_to "/mobileapps.html" do %>
    <%= image_tag "mobile_coming_soon.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Mobile Apps</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong>Hours: TBA</strong>
  </p>

  <p>
    <strong>Focus:</strong> Web and standalone application design for smart phone, tablet, and mobile devices
  </p>

  <p>
    <strong>Audience:</strong> Intermediate to experienced web developers
  </p>

  <p>
    <%= partial "partials/mailinglist.html" %>
  </p>
</div>

<div class="row">
  <p>Upon successful completion, participants will be able to:
  </p>
  <ul>
  <li>Design and create highly responsive web applications indistinguishable from native applications</li>
  <li>Interact with server-side APIs to incorporate data from multiple sources</li>
  <li>Create native applications from HTML/CSS/JS using PhoneGap/Cordova</li>
  <li>Publish applications through Google and Apple app stores</li>
  </ul>
</div> <!-- Mobile -->
