
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Mobile class info -->
<div class="row">
  <%= image_tag "mobile_coming_soon.png", :class=>"img-responsive" %>

  <h2 class="sr-only">Mobile Apps</h2>

  <h4 class="link-padding">
    Hours: TBA
  </h4>
  
  <p>
    <strong>This course is eligible for 
      <% link_to "/childcare.html" do %>
        <%= image_tag "cwk_text.png" %>
      <% end %>
    </strong>
  </p>

  <p><strong>Focus:</strong> Web and standalone application design for smart phone, tablet, and mobile devices</p>
  <p><strong>Audience:</strong> Intermediate to experienced web developers</p>

  <p>Upon successful completion, participants will be able to:
  </p>
  <ul>
  <li>Design and create highly responsive web applications indistinguishable from native applications</li>
  <li>Interact with server-side APIs to incorporate data from multiple sources</li>
  <li>Create native applications from HTML/CSS/JS using PhoneGap/Cordova</li>
  <li>Publish applications through Google and Apple app stores</li>
  </ul>
</div> <!-- Mobile -->