
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- ROR class info -->
<div class="row jumbotron">
  <% link_to "/rubyonrails.html" do %>
    <%= image_tag "ruby.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">
    Professional Web Application Development with Ruby on Rails
  </h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong class="link-padding">Hours: 6pm-9pm, Tue/Thurs + some Saturdays 9am-Noon + 1 Saturday per month, 9am-4pm</strong>
  </p>

  <p>
    This class is designed to teach students how build interactive and dynamic web applications using Ruby on Rails in a professional team environment. We start with an intense 1-month refresher on the Ruby language. After that, we dive into the Rails framework, still building our Ruby skills. Along the way, students will become familiar with all aspects of web application architecture. Students will create a series of useful scripts and web applications, culminating in a portfolio-worthy capstone project.
  </p>

  <p>
    <%= link_to "Enroll Now!", "/getinfo.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <p>
    While prior programming and web development experience is helpful, it's not required. We have had students with zero experience work hard, take advantage of all possible learning opportunities, and create impressive skills and capstone web applications. Students with NO CODING EXPERIENCE should consider our Primer course as mandatory if they want to be successful.
  </p>
  <p>
    Make no mistake: this is an intense, difficult course. It's not for everyone. We give you as many opportunities to learn as we can, but we set a fast pace and cover a lot of ground. In many ways, it's just like working at a small, faced-paced development company. It's a great way for you to discover whether you like that kind of work. If you complete the course, you'll have all the tools you need to be good at that kind of work, too.
  </p>
  <p>
    Our teaching method emphasizes team-oriented, project-based learning. In addition to self-paced screencasts and interactive coding exercises, students participate in progressively more complicated and interesting real-world coding challenges.
  </p>
  <p>
    As new members of the local technical and business community, students meet and work with local professional developers as guest lecturers and mentors. We introduce students to the local technical community at a series of meetups, helping students build their professional network. Some Tuesday night lab sessions are held at Hack & Help meetups where students work among their industry peers and get help from professionals.
  </p>
  <p>
    Students will be expected to spend 2-3 hours studying outside of class for every hour spent in class. This works out to between 20 and 30 hours a week maximum.
  </p>
  <p>
    Students will be provided Treehouse accounts, and will be given access to the classroom from 9am-5pm M-F, as well as some Saturdays, leaving lots of time for independent and group learning. Students will primarily be working and learning in groups of 2-4 people. Also, PCS hosts a happy hour every other Friday at local restaurants to give students a chance to meet outside of class in a social environment.
  </p>
  <p>
    Some Saturdays include morning sessions of just the Rails class to make sure students get plenty of teacher and mentor interaction time. One Saturday each month, several classes get together to learn team building, portfolio development, and other technical areas (such as jQuery, GitHub and the Chrome Dev Tools) to round out the students’ curriculum, broaden their exposure to web development tools, and prepare for the job market.
  </p>
  <p>
    Capstone projects are either selected from student ideas or our industry partners. A powerful way for developers to put their best foot forward -- and be extra attractive to employers -- is to contribute to open source projects. We will cover best practices and different ways to make this happen in the latter part of the course.
  </p>

  <h4>The course embodies several themes:</h4>
  <ul>
    <li><strong>Programming</strong> - Object-oriented design and idiomatic Ruby programming</li>
    <li><strong>Web application development</strong> - analysis, architecture, design, construction and cloud deployment</li>
    <li><strong>Using frameworks and libraries</strong> to develop web applications</li>
    <li><strong>Teamwork & collaboration</strong> - Working in pairs, on teams, and as a member of the community</li>
    <li><strong>Career preparation</strong> - portfolio development, presenting your work, making business connections, interviewing, collaborating on projects</li>
    <li><strong>Project management</strong> - time management, effective teamwork, iterative and agile development strategies </li>
    <li><strong>Life-long learning strategies</strong> - identifying information sources, reading code, developing mentoring relationships</li>
  </ul><br>

  <h4>General schedule:</h4>
  <ul>
    <li><strong>Month 1</strong> - Ruby language basics, simple code challenges, editing tools, pair programming, teamwork, community</li>
    <li><strong>Month 2</strong> - Advanced Ruby, complex code challenges, web application frameworks (Sinatra, Rails), test-driven development, presentation skills and code walkthroughs</li>
    <li><strong>Month 3</strong> - Working with clients, specifying web applications with user stories and wireframes, creating Rails web applications with test-first methods; career guidance: portfolios, collaboration</li>
    <li><strong>Month 4</strong> - Capstone project design and construction, job hunting skills, technical presentation and mentoring others in the community</li>
  </ul>
</div> <!-- !ROR class info -->
