
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Web Development Primer class info -->
<div class="row jumbotron">
  <% link_to "/webdevelopmentprimer.html" do %>
    <%= image_tag "webdev.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Web Development Primer</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

<!--   <p>
    <strong>Dates: March 15 - April 5</strong>
  </p> -->
  <p>
    <strong>Hours: Total of 15-18 hours of class time + online content over the 4 weeks.</strong>
  </p>

  <p>
    Hit the road running with our Web Development Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web.
  </p>

  <p>
    <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">

  <p>
    Learning Objectives - By the end of class you will be able to:
    Collaboratively create a static website using GitHub and Heroku
    Explain HTTP requests and the client-server model
    Use the command line
  </p>
  <p>
    Create files in a text editor (Sublime Text 2) and display them in a browser
    Inspect a website’s code using the Chrome Developer Tools
    Add at least one project and one code sample to your portfolio
  </p>
  <p>
    Cost: $350 ($250 if you sign up at a PCS event)
  </p>

  <h4>COURSE OUTLINE:</h4>
    <ul>
      <strong>Saturday, December 7 (in the classroom - 9am - 4pm, lunch provided)</strong>
      <li> PRESENTATION - Foundational Concepts for Web Developers </li>
      <li>Set up accounts for Treehouse, Codeschool, IRC, and Google+</li>
      <li>Download and configure Sublime Text 2</li>
      <li>PRESENTATION - Introduction to HTML5 and CSS3</li>
      <li>Activities in HTML and CSS via JSFiddle</li>
      <li>PRESENTATION - Chrome Developer Tools</li>
      <li>WORKSHOP - Build a web page</li>
      <small>Homework:  Eat, Breathe, Sleep</small>

      <strong>Sunday, December 8 (in the classroom - Noon - 4pm)</strong>
      <li>PRESENTATION - Sublime Text 2 shortcuts</li>
      <li>Activities in HTML and CSS</li>
      <li>PRESENTATION - GitHub and the Command Line</li>
      <li>Set up accounts for GitHub and Heroku</li>
      <li>PRESENTATION - Pair Programming and Group Project-ing</li>
      <li>WORKSHOP - Build a team, make a plan</li>
      <small>Homework:  Build a static website with your team</small>

      <strong>Tuesday, December 10 (time and place TBA - determined by group) </strong>
      <li>Practice using GitHub and Heroku</li>
      <li>Get more familiar with Sublime Text 2 shortcuts</li>
      <li>Meet with your team to develop your project further</li>
      <li>CHALLENGE: Use media queries, @font-face, or CSS transitions on your site</li>
      <small>Homework:  Projects + join us for Friday Happy Hour at Hopworks on Powell!</small>

      <strong>Friday, December 13 (Happy hour at Hopworks on Powell - 5pm - optional)</strong>
      <li>First round is on us!</li>
      <li>No structured content, but help provided as needed</li>

      <strong>Tuesday, December 17 (time and place TBA - determined by group) </strong>
      <li>CHALLENGE: Bootstrap your website</li>
      <li>Each team member adds a new feature on the website</li>
      <small>Homework:  Projects + online tutorials for Programming Basics, et al</small>

      <strong>Saturday, January 4 (in the classroom - 9am - Noon)</strong>
      <li>PRESENTATION - How does the internet work?</li>
      <li>PRESENTATION - Introduction to the Basics of Programming</li>
      <li>Install NodeJS and do some basic things in the REPL</li>
      <li>WORKSHOP - Write a basic server script to load up your website, and use
        Beefy for live reloading</li>
      <li>Groups present their projects</li>
      <li>Feedback</li>
      <small>Homework: Online tutorials for Programming Basics, et al</small>
    </ul>
  <p>
    How to apply:
    Show up to any PCS event or send an email to info@portlandcodeschool.com.
  </p>
</div> <!-- Web Development Primer class info -->
