
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Web Development Primer class info -->
<div class="row jumbotron">
  <% link_to "/webdevelopmentprimer.html" do %>
    <%= image_tag "webdev.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Web Development Primer</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong>Cost: $365</strong> (Get a $100 discount if you sign up at a Portland Code School <%= link_to "public event", "https://www.facebook.com/PortlandCodeSchool/events" %>!)
  </p>

  <p>
    <strong>Dates: June 7th - 28th</strong>
  </p>
  <p>
    <strong>Hours: Two consecutive Saturdays, 9 AM - 4 PM, skip one Saturday, then Saturday 9 AM - 2 PM</strong>
  </p>

  <p>
    Hit the road running with our Web Development Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web.
  </p>

  <p>
    <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">

  <h3>Learning Objectives:</h3>
  <p>
    In this class, you will learn basic HTML, CSS, version control (specifically git), collaborative workflows using GitHub, how to use the Chrome Developer Tools, and Sublime Text.
  </p>
  <p>
    By the end of the class, you will be able to:
    <ul>
      <li>Create files in a text editor (Sublime Text 2) and display them in a browser</li>
      <li>Inspect a website’s code using the Chrome Developer Tools</li>
      <li>Add at least one project and one code sample to your portfolio</li>
    </ul>
  </p>

  <h3>Preliminary Tutorials:</h3>
  <p>The week leading up to the class, we give you a short list of online tutorials to go through before the first day of class.</p>

<h3>General Schedule:</h3>
<ul>
  <li>Saturday, 9am - 4pm - HTML & CSS, introduction to git, getting connected with the tech community. Homework: Create a static portfolio website, set up accounts to facilitate tech community networking.</li>
  <li>Saturday, 9am - 4pm - Git, GitHub, and collaborative workflows. Capstone project teams will be formed. Homework: Create a static site that matches your client's specs, while working collaboratively with team members through GitHub.</li>
  <li>Saturday, 9am - 2pm - Team Project Presentations.</li>
</ul>
</div> <!-- Web Development Primer class info -->
