
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Web Foundations class info -->
<div class="row jumbotron">
  <% link_to "/webfoundations.html" do %>
    <%= image_tag "webfoundations_now_enrolling.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Web Foundations Series – Primer Pro (class 2)</h2>

  <!-- Web Foundations class info -->
  <br>
  <h4>January 17 (January 17 - March 5)</h4>
  <div class="primer-january">
    <ul class="primer-dates">
      <li>Saturday kickoff (11am - 5pm), January 17</li>
      <li>Tuesdays / Thursdays (6pm - 9pm), last day March 5</li>
    </ul>
  </div>
  <p>Primer Pro - The second class helps you understand the world of coding as a professional web developer. Create responsive websites for small businesses that work on either a desktop or a smart phone using advance tools such JavaScript/jQuery and Bootstrap.
  </p>

  <p>
    <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

  <p>Students will learn real world foundations required for working in the technology sector, such as:
    <ul>
      <li>HTML to create simple web pages, using structural elements, tables and forms</li>
      <li>CSS to style simple web pages, including layout, color and fonts</li>
      <li>JavaScript/jQuery for functions such as form validation</li>
      <li>Bootstrap to style responsive web pages</li>
      <li>Writing simple JavaScript from scratch to build simple user interface patterns</li>
      <li>Using Git branching, merging, and pull requests to integrate code from multiple team members</li>
      <li>Provide simple customer analysis and design for a small website</li>
      <li>Participate in project management planning, monitoring, and communicating status</li>
  </p>

  <br>

  </ul>

<div class="row jumbotron">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">$595</span>
      Tuition for Primer Pro:
    </li>
   <!--  <li class="list-group-item">
      <span class="badge">$1090</span>
      :<span class="asterisk">*</span>
    </li> -->
  </ul>

  <!--  <p>
      Next class will be offered in January. <a href="mailto:info@portlandcodeschool.com">Email us</a> to be alerted when the next start date is announced.
    </p> -->


  <p>
    <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
  </p>

</div>
