
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Web Foundations class info -->
<div class="row jumbotron">
  <% link_to "/webfoundations.html" do %>
    <%= image_tag "webfoundations.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Web Foundations</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">$995</span>
      Base Price:
    </li>
    <li class="list-group-item">
      <span class="badge">$895</span>
      Discount Price:<span class="asterisk">*</span>
    </li>
  </ul>

  <p>
    <strong>Dates: October 4 - November 22</strong>
  </p>
  <p>
    <strong>Hours: Saturdays, 11 AM - 5 PM</strong>
  </p>

  <p>
    <%= link_to "Enroll Now!", "/enrollWF.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">

 <!-- Web Foundations class info -->

<p>This 8-week course, starting October 4th, builds on our existing <%= link_to "4-week Primer class", "/webdevelopmentprimer.html" %> to prepare students, who are new to the tech field, for the following work:
  <ul>
    <li>Internship at a web development or creative design studio</li>
    <li>Creation of simple websites for small businesses or individuals</li>
    <li>Participation in further Portland Code School classes</li>
  </ul>
</p>

<p>Students will learn real world foundations required for working in the technology sector, such as:
  <ul>
    <li>Using HTML to create simple web pages, using structural elements, tables and forms</li>
    <li>Using CSS to style simple web pages, including layout, color and fonts</li>
    <li>Using HTML5 and JavaScript to form validation</li>
    <li>Using Bootstrap to style responsive web pages</li>
    <li>Write simple JavaScript from scratch to build simple user interface patterns</li>
    <li>Using Git branching, merging, and pull requests to integrate code from several team members</li>
    <li>Provide simple customer analysis and design for a small website</li>
    <li>Participate in project management planning, monitoring, and communicating status</li>
  </ul>
