<% @title = "Portland Code School - About Us" %>
<div class="readable-width">
  <h2 class="line">The Staff</h2>
</div>
<div class="full-width">
  <img class="left" src="/images/chuck-red-300x400.png" width="250">
  <h3>Chuck Lauer Vose</h3>
  <p>Chuck has been programming in Ruby since 2005 and in other languages since 2001. He has been teaching programming on and off since 2008 both for companies, for educational institutions, and for non-profit organizations. He graduated from the Evergreen State College with a BS in Computer Science and has used that knowledge at least twice so far.</p>
  <p>Chuck started this program because the company he was at was struggling to find candidates locally, but he knew that at least half of his friends would qualify if they knew how to program ruby. To him it seemed such a small stepping stone but without any organizations in town willing to help it turned out to be a huge leap. </p>
</div>
<div class="full-width">
  <img class="right" src="/images/heather-300x400.jpg" width="250">
  <h3>Heather Wilkinson</h3>
  <p>Heather can usually be found at the helm of a non-profit but felt strongly enough about this program that she decided to give us the guidance to get us off the ground. She has her Masters in Public Administration from PSU and is the volunteer coordinator for Portland's Rose City Rollers. Under her care and guidance RCR has grown from around 50 volunteers to over 700 and she is now the second person in the entire country to get paid for her work with roller derby.</p>
  <p>Heather is the force behind the program and it's organization. Without her regular evaluations and checkins the program would have ground to a halt before it even began. In addition, she brings extensive knowledge of budgeting, program growth and outreach, and an energy that just can't be put down.</p>
</div>
<div class="readable-width">
  <h2 class="line">Special Thanks</h2>
  <p>
    <strong>Omid Rahmat - Burnside Digital</strong><br>
    Omid was the first financial backer, and the first business analyst to help us on our path. He was there to give us seed money to get started, and he was there to make sure we were on track to be off of investment funds as soon as possible. And even above that, he's dealt with all the legal paperwork to get the program running to this day.
  </p>
  <p>
    <strong>Bill Siebold - Art Institute</strong><br>
    Bill has been a constant source of inspiration and sound judgement for us in the formation of the program. His experience in tech education and his drive to see the program succeed has been unendingly inspiring and helpful. He was the initial sounding board, and the voice of reason, when there were so many voices to listen to.
  </p>
  <p>
    <strong>Hal Newton - PageMutant / WholeBrain</strong><br>
    Hal has been a godsend at the late stages of the first session by helping us coordinate and understand how to talk to CTOs and VPs at organizations that need to find great people. His words of wisdom, his network of peers, and his gentle guidance were brought to bare at exactly the right time.
  </p>
  <p>
    <strong>Marc Charbonneau, Patrick Curtain, Victor Christensen - Burnside Digital</strong><br>
    Everyone at Burnside Digital was amazing, but these four stepped forward frequently and helped me through jams with either sweat or brainpower. One man can only do so much.
  </p>
  <p>
    <strong>Pete Kinnecom, Rachel Sakry, Matt Danskey - Portland Code School</strong><br>
    The first group of students, the guinnea pigs. I have no words for the depth of gratitude I have towards this trio and I can't wait to see them flourish in their new careers!
  </p>
</div>
<div class="readable-width">
  <h2 class="line">Dedications</h2>
  <p>
    <strong>Nathan Calies</strong>
  </p>
  <p>
    <strong>Erica Lauer Vose</strong>
  </p>
  <p>
    <strong>Dave Shanley and Ben Kerney - Crowd Compass</strong>
  </p>
  <p>
    <strong>Lorenzo Ciacci - The Clymb</strong>
  </p>
  <p>
    <strong>Luc Perkins - AppFog</strong>
  </p>
  <p>
    <strong>Jewel Mlnarik - Temboo</strong>
  </p>
</div>