<% @title = "Portland Code School - About Us" %>
<div class="readable-width">
  <h2 class="line">About Us</h2>
  <p>Portland Code School students learn valuable skills and strategies from experienced programmers, develop the skills needed to join a leading tech company, and have direct access to local sponsoring companies interested in hiring new developers.</p>
  <p>There is a huge and rapidly growing demand for able-minded programmers who are not only capable of skillful programming, but also skillful at communicating with clients and peers. Tech shops cannot exist with single-faceted programmers alone; the most valuable among our ranks are those that easily interact with clients and produce outstanding quality code.</p>

  <h2 class="line">Our Mission</h2>
  <p>To teach the next generation of Portland programmers the skills they need to be competent, well-rounded programmers able to excel in a web development career.</p>

  <h2 class="line">Our Vision</h2>
  <p>We envision The Portland Code School as the leading developer of the next generation of Portland programmers. Working in collaboration with Portland coder communities, we provide aspiring programmers with a jumping off point to dive into a web development career along with the skills and tools to engage in learning the advanced skills that distinguish great programmers from those that are merely good enough. We also network with leading edge tech companies seeking to hire skilled and well-rounded programmers, to ensure our students have the skills needed to be professionally competitive and successful.</p>

  <h2 class="line">Our History</h2>
  <p>The Portland Code School was founded in September of 2012 in partnership with Burnside Digital. The code school began as an apprentice-type internship program and evolved into a full-fledged code school.</p>
  <p>The Portland Code School began as an idea when founder Chuck Lauer Vose realized how huge the demand was for competent programmers in Portland and how few new programmers there were coming from Portland. After teaching a “Rapid Web Development” course at the Portland Art Institute, Chuck realized there is an abyss of misunderstandings, gaps in information, and false starts between beginner tutorials and full-time software development. Too many programmers were getting lost in this abyss. Since Portland is already a top-notch city for developers; Chuck wanted to make it an oasis for newcomers also.</p>
  <p>Through collaboration with and help from programmer communities across Portland and beyond, the Portland Code School was born.</p>
</div>
<div class="readable-width">
  <h2 class="line">Special Thanks</h2>
  <p>
    <strong>Omid Rahmat - Burnside Digital</strong><br>
    Omid was the first financial backer, and the first business analyst to help us on our path. He was there to give us seed money to get started, and he was there to make sure we were on track to be off of investment funds as soon as possible. And even above that, he's dealt with all the legal paperwork to get the program running to this day.
  </p>
  <p>
    <strong>Bill Siebold - Art Institute</strong><br>
    Bill has been a constant source of inspiration and sound judgement for us in the formation of the program. His experience in tech education and his drive to see the program succeed has been unendingly inspiring and helpful. He was the initial sounding board, and the voice of reason, when there were so many voices to listen to.
  </p>
  <p>
    <strong>Hal Newton - PageMutant / WholeBrain</strong><br>
    Hal has been a godsend at the late stages of the first session by helping us coordinate and understand how to talk to CTOs and VPs at organizations that need to find great people. His words of wisdom, his network of peers, and his gentle guidance were brought to bare at exactly the right time.
  </p>
  <p>
    <strong>Marc Charbonneau, Patrick Curtain, Victor Christensen - Burnside Digital</strong><br>
    Everyone at Burnside Digital was amazing, but these four stepped forward frequently and helped me through jams with either sweat or brainpower. One man can only do so much.
  </p>
  <p>
    <strong>Pete Kinnecom, Rachel Sakry, Matt Danskey - Portland Code School</strong><br>
    The first group of students, the guinnea pigs. I have no words for the depth of gratitude I have towards this trio and I can't wait to see them flourish in their new careers!
  </p>
</div>
<div class="readable-width">
  <h2 class="line">Dedications</h2>
  <p>
    <strong>Nathan Calies</strong>
  </p>
  <p>
    <strong>Erica Lauer Vose</strong>
  </p>
  <p>
    <strong>Dave Shanley and Ben Kerney - Crowd Compass</strong>
  </p>
  <p>
    <strong>Lorenzo Ciacci - The Clymb</strong>
  </p>
  <p>
    <strong>Luc Perkins - AppFog</strong>
  </p>
  <p>
    <strong>Jewel Mlnarik - Temboo</strong>
  </p>
  <p>
    <strong>Jade Rubick - New Relic</strong>
  </p>
  <p>
    <strong>Randall Hansen - Puppet Labs</strong>
  </p>
</div>