---
title: Instructors
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <h2 id="meettheteam">Experts in the field</h2>
  <hr>
  <p>
    Portland Code School is always looking for expert developers and instructors – both short term and long term – who can create a positive learning environment for students to work and achieve their goals. If you have an expertise in the tech field that you would like to share with others, please <%= link_to "contact us", "/contact.html" %>!
  </p>

  <h3>Instructors We Work With</h3>
  <hr>

  <%= partial "partials/janice" %>

  <%= partial "partials/huston" %>
  
</div>

