<% @title = "Portland Code School - Applying" %>
<div class="readable-width">
  <h2 class="line">Applications</h2>
  <p>Welcome future student! We're glad that you've made the decision to start learning to program for the web. Portland has a lot of great venues for learning programming skills and each has its own strengths, this program is designed to teach you the essentials quickly and give you the tools and networks you need to keep learning and growing as a developer. </p>
  <p>This is just the beginning of your adventure! Completing a 12-week session at the Portland Code School will jump-start your programming career and prepare you to dive into the advanced programming skills that make a good programmer great. </p>
  <p>Below you'll find the process for submitting an application as well as some examples that have won spots in the program before.</p>
  <p>Required Application Materials</p>
  <ul>
    <li>Resume</li>
    <li>Cover Letter which highlights your interest in programming</li>
    <li>A "Hello World" app in Ruby on Rails committed to Github</li>
  </ul>
  <p>Optional (but strongly encouraged) Additional Materials</p>
  <ul>
    <li>Any portfolio items that show us what you are working on</li>
    <li>Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance</li>
    <li>Community engagement activity including attendance at Ruby Newbies, RailsGirls/RubyNest, the Portland Ruby Brigade, or activity on any related mailing lists or forums</li>
  </ul>
</div>
<div class="readable-width">
  <h2 class="line-half">Key Application Criteria</h2>
  <p>The most important thing to know about this process is that we want to get to know you as a person as well as a programmer. We want to make sure our students have the best possible chance to succeed and that means we look for individuals who are well rounded, creative, and are able to engage in the whole programming experience, not just the technical aspects.</p>
  <p>When we review your application, we will be looking for evidence that:</p>
  <ul>
    <li>You are passionate about programming above all other things</li>
    <li>You can and want to learn about programming</li>
    <li>You can get along with other students</li>
  </ul>
  <p>The optional additional application materials can give us a better idea of who you are beyond your work experience and interest in programming. Successful applications have included video, portfolio examples of current projects or skills you are working on. Students have also included videos of themselves doing something they're really passionate about, creative projects such as rapping about Ruby, playing instruments in concert, and even screencasts about other languages.</p>
  <p>If you aren't comfortable with video, you might choose to write a story, poem, or hack together a snippet of a program that does something neat.</p>
</div>
<div class="readable-width">
  <h2 class="line">Process</h2>
  <p><strong>Applications for Spring 2013 are now open. The deadline for applications will be January 4th and the program will start on February 1st.</strong></p>
  <p>Please send all documents, stories, videos, and digital sculptures to <a href="mailto:applications@portlandcodeschool.com">applications@portlandcodeschool.com</a>.</p>
  <p>After you have submitted your documents you will receive a confirmation email within 1-2 days. Following the application close deadline we will review all applications and let you know what the next steps are.</p>
</div>
