<% @title = "Portland Code School - Applying" %>
<% @body_id = "apply" %>

<div class="readable-width">
  <h2>Applications</h2>
  <p>Welcome future student! We're glad that you've made the decision to start learning to program for the web. This program is designed to teach you the essentials quickly and give you the tools and support you need to keep learning and growing as a developer. </p>
  <h3>Required Application Materials</h3>
  <ul>
    <li>Resume</li>
    <li>Cover Letter which addresses:</li>
    <ul>
      <li>Your interest in programming</li>
      <li>Why you want to be a web developer</li>
      <li>Who you are as a person, particularly in the context of a team work-environment</li>
    </ul>
    <li>A "Hello World" app in Ruby on Rails committed to Github</li>
  </ul>
  <h3>Optional (but strongly encouraged) Additional Materials</h3>
  <ul>
    <li>Any portfolio items that show us what you are working on</li>
    <li>Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance</li>
    <li>Community engagement activity including attendance at Ruby Newbies, RailsGirls/RubyNest, the Portland Ruby Brigade, or activity on any related mailing lists or forums</li>
  </ul>
  <p>Please send all documents, stories, videos, and digital sculptures to <a href="mailto:applications@portlandcodeschool.com">applications@portlandcodeschool.com</a>. </p>
  <p>After you have submitted your documents you will receive a confirmation email within 1-2 days. Following the application deadline, we will review all applications and let you know what the next steps are.</p>
</div>
<div class="readable-width">
  <h2>Application Process, Dates, & Deadlines</h2>
  <p>Each session is preceded by a Meet & Greet, an informal get together where you can chat with current students, meet our instructor, and ask all your burning questions.</p>
  <p>During the weeks preceding the application deadline, we offer application help sessions at <a href="http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp">Hack + Help Sessions</a> of the Portland Ruby Meetup.</p>
  <p>Notifications of acceptance will go out at least two weeks prior to the start of the session. Applications are being accepted for 2013 Summer and Fall Sessions, please indicate which session you are applying for.</p>
</div>
<table>
  <tr>
    <th></th>
    <th>Fall Session 2013</th>
    <th>Winter Session 2014</th>
    <th>Spring Session 2014</th>
  </tr>
  <tr>
    <td>Meet & Greet</td>
    <td>September 10</td>
    <td>October 22</td>
    <td>February 10, 2014</td>
  </tr>
  <tr>
    <td>Application Help Sessions</td>
    <td><a href="http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp">Hack + Help Sessions</a></td>
    <td><a href="http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp">Hack + Help Sessions</a></td>
    <td><a href="http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp">Hack + Help Sessions</a></td>
  </tr>
  <tr>
    <td>Application Deadline</td>
    <td>September 13</td>
    <td>November 18</td>
    <td>March 14, 2014</td>
  </tr>
  <tr>
    <td>Acceptance Notifications</td>
    <td>before September 20</td>
    <td>December 13</td>
    <td>April 4, 2014</td>
  </tr>
  <tr>
    <td>Start of Session</td>
    <td>September 30</td>
    <td>January 27, 2014</td>
    <td>May 5, 2014</td>
  </tr>
</table>
<div class="readable-width">
  <h2>Key Application Criteria</h2>
  <p>The most important thing to know about this process is that we want to get to know you as a person as well as a programmer. We want to make sure our students have the best possible chance to succeed and that means we look for individuals who are well rounded, creative, and are able to engage in the whole programming experience, not just the technical aspects.</p>
  <p>When we review your application, we will be looking for evidence that:</p>
  <ul>
    <li>You are passionate about programming above all other things</li>
    <li>You can and want to learn about programming</li>
    <li>You can get along with other students and future co-workers</li>
  </ul>
  <p>The optional additional application materials can give us a better idea of who you are beyond your work experience and interest in programming. Successful applications have included video, portfolio examples of current projects or skills you are working on. Students have also included videos of themselves doing something they're really passionate about, creative projects such as rapping about Ruby, playing instruments in concert, and even screencasts about other languages.</p>
  <p>You could also choose to write a story, poem, or hack together a snippet of a program that does something neat.</p>
</div>
