<% @title = "Portland Code School - Applying" %>
<% @body_id = "apply" %>

<div class="yellow-box">
  <h1>Apply</h1>
</div>
<div class="appTopBox">
  <div class="appTextBox">
    <h2>Applications</h2>
    <p>Welcome future student! We're glad that you've made the decision to start learning to program for the web. This program is designed to teach you the essentials quickly and give you the tools and support you need to keep learning and growing as a developer.</p>
    <div class="requiredBox"><h3>Required Application Materials</h3></div>
  </div>
</div>

<div class="applyContent">
  <div class="applyBox">
    <div class="applyRailsBox">
      <h3>For the Rails Session:</h3>
      <ul>
        <li>Resumé</li>
        <li>Cover letter which addresses:</li>
          <ul>
            <li>Your interest and experience in programming</li>
            <li>Why you want to learn Ruby on Rails</li>
            <li>Who you are as a person, particular in the context of a team work environment</li>
          </ul>
        <li>A "Hello World" app in Ruby on Rails, committed to Github</li>
      </ul>
      <h4>Skill Requirements</h4>
      <ul>
        <li>Demonstrate understanding of programming basics</li>
        <li>Do things in Interactive Ruby (irb)</li>
        <li>Show us your Github account with self-created repos and lots of "green"</li>
        <li>Write simple functions in Ruby, require gems, and generate other simple code in Ruby</li>
        <li>Use the command line, Sublime Text 2, and Github with relative ease</li>
      </ul>
      <h4>Optional (but strongly encouraged) Additional Materials</h4>
      <ul>
        <li>Any portfolio items that show us what you are working on</li>
        <li>Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance</li>
        <li>Community engagement activity including attendance at Ruby Newbies, RailsGirls/RubyNest, Hack & Help, the Portland Ruby Brigade, or activity on any related mailing lists or forums.</li>
      </ul>
      <p>Please send all documents, stories, videos, and digital sculptures to <a href="mailto:ckelly@portlandcodeschool.com">ckelly@portlandcodeschool.com</a>.</p>

      <p>After you have submitted your documents you will receive a confirmation email within 1-2 days. Following the application deadline, we will review all applications and let you know what the next steps are.</p>
    </div>

    <div class="applyJSBox">
      <h3>For the JavaScript Session:</h3>
      <ul>
        <li>Resumé</li>
        <li>Cover letter which addresses:</li>
          <ul>
            <li>Why you want to be a web developer</li>
            <li>Who you are as a person, particular in the context of a team work environment</li>
          </ul>
        <li>A personal (free) Github account that has a repository with an index.html page committed to it. The index page can simply say "Hello World" on it.</li>
      </ul>
      <h4>Skill Requirements (covered in the PCS Primer course)</h4>
      <ul>
        <li>Explain front-end vs. back-end web development</li>
        <li>Draw a client-server model diagram</li>
        <li>Open files in Sublime Text 2</li>
        <li>Push new or altered files to a Github repo</li>
        <li>Create a new file in a specific directory from the command line</li>
      </ul>
      <h4>Optional (but strongly encouraged) Additional Materials</h4>
      <ul>
        <li>Any portfolio items that show us what you are working on</li>
        <li>Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance.</li>
        <li>Community engagement activity including attendance at Ruby Newbies, RailsGirls/RubyNest, Hack & Help, the Portland Ruby Brigade, or activity on any related mailing lists or forums.</li>
      </ul>
      <p>Please send all documents, stories, videos, and digital sculptures to <a href="mailto:ckelly@portlandcodeschool.com">ckelly@portlandcodeschool.com</a>.</p>

      <p>After you have submitted your documents you will receive a confirmation email within 1-2 days. Following the application deadline, we will review all applications and let you know what the next steps are.</p>
    </div>
  </div>
</div>



