<% @title = "Portland Code School - Applying" %>
<div class="readable-width">
  <h2 class="line">Applications</h2>
  <p>Welcome future student! I'm glad that you've made the decision to start learning to program. No matter where you're at right now we want to hear from you.</p>
  <p>Below you'll find the process for submitting an application as well as some examples that have won spots in the program before.</p>
</div>
<div class="readable-width">
  <h2 class="line">Key Criteria</h2>
  <p>The most important thing to know about this process is how we grade applications. Unlike most schools, my goal is not to throw out your application, my goal is to educate you so that you can start doing amazing things as soon as possible.</p>
  <p>When you write your application please try to find ways to demonstrate these things:</p>
  <ul>
    <li>I need to know that you are passionate above all other things</li>
    <li>I need to know that you can and want to learn about programming</li>
    <li>I need to know that you can get along with other students</li>
  </ul>
  <p>Given those three things there are a few approaches that work better than others. Videos of you doing something you're really passionate about are the absolute top of the list. We've received videos of people rapping about Ruby, people playing instruments in concert, and even some screencasts about other languages.</p>
  <p>If you aren't comfortable with video, write up a story, or a poem, or hack together a program.</p>
  <p>Some knowledge of programming is preferred, but not strictly mandatory.</p>
  <p>But more than anything, this is not a program where you follow the teacher and get a good grade, do whatever it is that you do and get us to see it. Show us your passion, and the rest will communicate on its own.</p>
</div>
<div class="readable-width">
  <h2 class="line">Process</h2>
  <p><strong>Applications for Spring 2013 are now open. The deadline for applications will be January 4th and the program will start on February 1st.</strong></p>
  <p>Please send all documents, stories, videos, and digital sculptures to <a href="mailto:applications@portlandcodeschool.com">applications@portlandcodeschool.com</a>.</p>
  <p>After you have submitted your documents you will receive a confirmation email within 1-2 days. Following the application close deadline we will review all applications and let you know what the next steps are.</p>
  <p>If you have never coded before, we will need to have a small hack session together to make sure that you can follow along. There are rare individuals for whom programming just does not make sense; we can help detect this early on and save you time and money.</p>
  <p>We regret that we will not be able to accept all students, but we will try our best to accept as many as possible.
</div>
<div class="readable-width">
  <h2 class="line">Examples</h2>
  <p></p>
</div>
