---
title: Student Benefits
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Student Benefits</h2>

<p>
  At Portland Code School, we want to help students reach their goals, regardless of their current level of knowledge or outside responsibilities. As a result, Portland Code School students gain access to many tools, services, and a customized learning environment to support them in their journey to level up their programming skills. 
</p>

<p>In addition to college-level professional instruction, student benefits include:</p>
<ul>
  <li><%= link_to "Childcare provided", "/childcare.html" %> by <%= link_to "WeVillage", "http://www.wevillage.com/" %>, on your schedule</li>
  <li><%= link_to "Treehouse", "http://teamtreehouse.com/" %> accounts</li>
  <li>One-on-one instruction</li>
  <li>Introduction to the Portland tech community</li>
  <li>Tours of tech companies in Portland</li>
  <li>Portfolio development</li>
  <li>Mock interviews, resume review, and job search coaching</li>
  <li>Catered Saturday sessions</li>
  <li>Team building sessions</li>
  <li>Be surrounded by peers learning the same material</li>
  <li>Supportive learning environment</li>
</ul>
