<% @title = "Portland Code School - Calendar" %>
<% @body_id = "Calendar" %>


<div class="about-wrapper">
  <h1>Portland Code School Calendar of Events</h1>
  <h2>Now accepting applications for winter 2014!</h2>
  <div class="event-box">
    <h3>Friday, November 8</h3>
    <h4><a href="#">PCS Meet and Greet</a></h4>
    <h4><a href="https://maps.google.com/maps?q=1771+nw+pettygrove&hq=1771+nw+pettygrove&hnear=Portland,+Oregon&t=m&z=14" target="_blank">Burnside Digital</a></h4>
    <h5>6-8pm</h5>
    <p>Come and find out what the Portland Code School is all about. Meet current students, staff, and other prospective students. We will have drinks of the happy hour nature, some food and a whole lot of fun!</p>
  </div>

  <div class="event-box">
    <h3>Wednesday, November 13</h3>
    <h4>One Page to Rule Them All!</h4>
    <h4><a href="https://maps.google.com/maps?q=1771+nw+pettygrove&hq=1771+nw+pettygrove&hnear=Portland,+Oregon&t=m&z=14" target="_blank">Burnside Digital</a></h4>
    <h5>6pm</h5>
    <p>Come and learn how to build one-page apps with AngularJS! Or just come and have a drink and hack with other awesome people. Sponsored by <a href="http://www.solidtechnology.com/">Solid Technology</a>.</p>
  </div>

  <div class="event-box">
    <h3>Fridays, November 15 and 22</h3>
    <h4>Happy Hour Help with Applications</h4>
    <h4><a href="https://maps.google.com/maps?q=Hopworks+Urban+Brewery,+Southeast+Powell+Boulevard,+Portland,+OR&hl=en&sll=44.145447,-120.583402&sspn=5.140173,9.865723&oq=hopw&hq=Hopworks+Urban+Brewery,&hnear=17112+SE+Powell+Blvd,+Portland,+Oregon+97236&t=m&z=11" target="_blank">Hopworks on Powell</a></h4>
    <h5>5-7pm</h5>
    <p>Need help with the application process? Meet us for a drink and a smile. We can help install things, give advice, or just chew the fat.</p>
  </div>

  <div class="event-box">
    <h3>Wednesday, November 27</h3>
    <h4>Applications for Winter Session are due</h4>
    <p>Git 'er dun before Thanksgiving!</p>
  </div>

  <div class="event-box">
    <h3>Saturday, December 7</h3>
    <h4>PCS Primer</h4>
    <h4><a href="https://maps.google.com/maps?q=1771+nw+pettygrove&hq=1771+nw+pettygrove&hnear=Portland,+Oregon&t=m&z=14" target="_blank">Burnside Digital</a></h4>
    <p>Hit the road running with our PCS Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of programming for the Internet. For more details, <a href="JS-Primer.pdf" target="_blank">read the PDF</a></p>
  </div>

  <div class="event-box">
    <h3>Friday, December 13</h3>
    <h4>Notifications for Winter Session</h4>
    <p>We will contact you on or before this date to let you know if you are accepted in to the program, and what the next steps are.</p>
  </div>

</div>


