---
title: Calendar
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Calendar Of Events</h2>

<div class="row">
  <div class="col-xs-12 google-embed">
    <iframe src="http://www.google.com/calendar/embed?src=portlandcodeschool.com_p2r1jkfosr32rpk6etutglhnp4%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

<h2>2014 Academic Calendar</h2>

<div>
  <%= image_tag "academiccalendar2014.png", :class => "img-responsive centered" %>
</div>

<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr></tr>
      <tr>
        <th colspan="5">2014 Academic Calendar</th>
      </tr>
      <tr>
        <th>Type of Class</th>
        <th>First Time Coders</th>
        <th colspan="2">Part Time Classes</th>
        <th>Full Time Classes</th>
      </tr>
      <tr>
        <th>Course Title</th>
        <th>Web Development Primer</th>
        <th>Front End Freelancing</th>
        <th>Full-Stack JavaScript</th>
        <th>JavaScript Immersion</th>
      </tr>
    </thead>

    <tbody>
      <!-- Begin Spring Term -->
      <tr>
        <th colspan="5">Spring Cohort</th>
      </tr>
      <tr>
        <th>Class Dates</th>
        <td>
          March 15 - April 5<br>
          April 12 - May 3
        </td>
        <td>Not Applicable</td>
        <td>May 12 - August 29</td>
        <td>May 12 - August 1</td>
      </tr>
      <tr>
        <th>Application/Enrollment Deadline</th>
        <td>
          March 7<br>
          March 28
        </td>
        <td>Not Applicable</td>
        <td colspan="2">March 4</td>
      </tr>
      <tr>
        <th>Notification of Acceptance</th>
        <td>Not Applicable</td>
        <td>Not Applicable</td>
        <td colspan="2">April 14</td>
      </tr>
      <tr>
        <th>Payment Deadline<span class="asterisk">*</span></th>
        <td>
          March 7<br>
          April 4
        </td>
        <td>Not Applicable</td>
        <td colspan="2">April 25</td>
      </tr>
      <!-- End Spring Term -->

      <!-- Begin Fall Term -->
      <tr>
        <th colspan="5">Fall Cohort</th>
      </tr>
      <tr>
        <th>Class Dates</th>
        <td>
          June 7 - 28<br>
          July 12 - August 2
        </td>
        <td>September 3 - December 19</td>
        <td>September 2 - December 19</td>
        <td>TBA</td>
      </tr>
      <tr>
        <th>Application/Enrollment Deadline</th>
        <td>
          May 23<br>
          June 20
        </td>
        <td colspan="2">July 4</td>
        <td>TBA</td>
      </tr>
      <tr>
        <th>Notification of Acceptance</th>
        <td>Not Applicable</td>
        <td colspan="2">August 4th</td>
        <td>TBA</td>
      </tr>
      <tr>
        <th>Payment Deadline<span class="asterisk">*</span></th>
        <td>
          May 30<br>
          June 27
        </td>
        <td colspan="2">August 15</td>
        <td>TBA</td>
      </tr>
      <!-- End Fall Term -->
    </tbody>
  </table>
</div>

<p>
  <span class="asterisk">*</span> Deadline to submit payment for Web Development Primer, pay full tuition amount for part time and full time classes, or submit $1,000 deposit if you've signed up for the payment plan.
</p>
