<% @title = "Portland Code School - Calendar" %>
<% @body_id = "Calendar" %>


<div class="about-wrapper">
  <h1>Portland Code School Calendar of Events</h1>
  <h2>Now accepting applications for winter 2014!</h2>

  <div class="event-box">
    <h3>Fridays, November 15 and 22</h3>
    <h4>Happy Hour Help with Applications</h4>
    <h4><a href="https://maps.google.com/maps?q=Hopworks+Urban+Brewery,+Southeast+Powell+Boulevard,+Portland,+OR&hl=en&sll=44.145447,-120.583402&sspn=5.140173,9.865723&oq=hopw&hq=Hopworks+Urban+Brewery,&hnear=17112+SE+Powell+Blvd,+Portland,+Oregon+97236&t=m&z=11" target="_blank">Hopworks on Powell</a></h4>
    <h5>5-7pm</h5>
    <p>Need help with the application process? Meet us for a drink and a smile. We can help install things, give advice, or just chew the fat.</p>
  </div>

  <div class="event-box">
    <h3>Thursday, November 21</h3>
    <h4><a href="http://calagator.org/events/1250465227" target="_blank">PCS Meet and Greet at CorSource</a></h4>
    <h4><a href="https://maps.google.com/maps?q=Corsource,+SW+11th+Ave,+Portland,+OR&hl=en&ll=45.52203,-122.682502&spn=0.009276,0.019934&sll=37.0625,-95.677068&sspn=42.766543,81.650391&oq=corsource&hq=Corsource,&hnear=322+SW+11th+Ave,+Portland,+Oregon+97205&t=m&z=16&iwloc=A" target="_blank">CorSource</a></h4>
    <h5>6-8pm</h5>
    <p>Interested in being a web developer? Online tutorials not quite doin’ it for ya? Come to this event at <a href="http://www.corsource.com/">Corsource</a> to discover what our accelerated learning programs can do for you. At Portland Code School, we teach you the tools, the languages, and the concepts needed to become a professional web developer.</p>
    <p>Talk with the staff, meet current and past students, introduce yourself to other prospective students. We will do some fun interactive games and then socialize while we eat, drink, and otherwise be merry!</p>
  </div>

<!--   <div class="event-box">
    <h3>Wednesday, November 13</h3>
    <h4>One Page to Rule Them All!</h4>
    <h4><a href="https://maps.google.com/maps?q=1771+nw+pettygrove&hq=1771+nw+pettygrove&hnear=Portland,+Oregon&t=m&z=14" target="_blank">Burnside Digital</a></h4>
    <h5>6pm</h5>
    <p>Come and learn how to build one-page apps with AngularJS! Or just come and have a drink and hack with other awesome people. Sponsored by <a href="http://www.solidtechnology.com/">Solid Technology</a>.</p>
  </div> -->

  <div class="event-box">
    <h3>Wednesday, November 27</h3>
    <h4>Applications for Winter Session are due</h4>
    <p>Git 'er dun before Thanksgiving!</p>
  </div>

  <div class="event-box">
    <h3>Saturday, December 7</h3>
    <h4>PCS Primer</h4>
    <h4><a href="https://maps.google.com/maps?q=1771+nw+pettygrove&hq=1771+nw+pettygrove&hnear=Portland,+Oregon&t=m&z=14" target="_blank">Burnside Digital</a></h4>
    <p>Hit the road running with our PCS Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of programming for the Internet. For more details, <a href="JS-Primer.pdf" target="_blank">read the PDF</a></p>
  </div>

  <div class="event-box">
    <h3>Friday, December 13</h3>
    <h4>Notifications for Winter Session</h4>
    <p>We will contact you on or before this date to let you know if you are accepted in to the program, and what the next steps are.</p>
  </div>

</div>


