<% @title = "Portland Code School - Calendar" %>
<% @body_id = "Calendar" %>


<div class="about-wrapper">
  <h1>Portland Code School Calendar of Events</h1>
  <h2>Now accepting applications for winter 2014!</h2>
  <div class="event-box">
    <h3>Friday, November 8</h3>
    <h4><a href="#">Meet and Greet</a></h4>
    <h4><a href="https://maps.google.com/maps?q=1771+nw+pettygrove&hq=1771+nw+pettygrove&hnear=Portland,+Oregon&t=m&z=14" target="_blank">Burnside Digital</a></h4>
    <h5>6-8pm</h5>
    <p>Come and find out what the Portland Code School is all about. Meet current students, staff, and other prospective students. We will have drinks of the happy hour nature, some food and a whole lot of fun!</p>
  </div>

  <div class="event-box">
    <h3>Sunday, November 17</h3>
    <h4>Help with Applications</h4>
    <h4><a href="https://maps.google.com/maps?q=McMenamins,+Northeast+Broadway,+Portland,+OR&hl=en&sll=45.551351,-122.666822&sspn=0.042073,0.059824&oq=Mcme&hq=McMenamins,+Northeast+Broadway,+Portland,+OR&radius=15000&t=m&z=13" target="_blank">McMenamins on Broadway</a></h4>
    <h5>5-7pm</h5>
    <p>Need help with the application process? Let our staff and students help you install the tools necessary (such as Github, and Ruby on Rails), and give you some great advice on how to best prepare for the course.</p>
  </div>

  <div class="event-box">
    <h3>Sunday, November 24</h3>
    <h4>Help with Applications</h4>
    <h4><a href="https://maps.google.com/maps?q=Hopworks+Urban+Brewery,+Southeast+Powell+Boulevard,+Portland,+OR&hl=en&sll=45.543408,-122.654422&sspn=0.336634,0.478592&oq=hopworks+on+po&hq=Hopworks+Urban+Brewery,&hnear=1223+SE+Powell+Blvd,+Portland,+Oregon+97202&t=m&z=14" target="_blank">Hopworks on Powell</a></h4>
    <h5>5-7pm</h5>
    <p>Need help with the application process? Let our staff and students help you install the tools necessary (such as Github, and Ruby on Rails), and give you some great advice on how to best prepare for the course.</p>
  </div>

  <div class="event-box">
    <h3>Wednesday, November 27</h3>
    <h4>Applications for Winter Session are due</h4>
    <p>Git 'er dun before Thanksgiving!</p>
  </div>

  <div class="event-box">
    <h3>Friday, December 13</h3>
    <h4>Notifications for Winter Session</h4>
    <p>We will contact you on or before this date to let you know if you are accepted in to the program, and what the next steps are.</p>
  </div>

</div>


