---
title: About
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <h2>Careers at Portland Code School</h2>
  <hr>

  <p>Do you love to code AND love to teach?</p>

  <p>Do you love to help others experience the joy of coding?</p>

  <p>Do you want to be rewarded by helping others advance their skills?</p>

  <p>Our instructors know that today's programming jobs require teamwork, collaboration, lifelong learning, and mad technical skills. Our instructors work hard to help our students discover and grow these skills in themselves.</p>

  <p>If you have reached the top of your field, and are ready to share your knowledge with others who are thirsty to learn what you know, <%= link_to "contact us", "/contact.html" %> today!</p>

  <p>Currently, we are looking for expert instructors for the following <strong>workshops and seminars</strong>:</p>

  <ul>
    <li>Android</li>
    <li>Swift</li>
    <li>Angular.js</li>
    <li>Node.js</li>
    <li>UX</li>
    <li>WordPress</li>
    <li>PHP</li>
    <li>SQL</li>
  </ul>

  <p>Do you have an area of expertise you'd like to teach at PCS? <%= link_to "Tell us about it!", "/contact.html" %></p>

  <!--  <p>At the same time, our instructors are working freelance programmers and developers, keeping up to date with the latest technologies and keeping clients happy with exceptional results.</p> -->

   <!-- <p>We are always on the lookout for that rare combination of programming experience and a passion for teaching.</p> -->

   <!-- <p>If you have experience in one or more of the following areas, we would love to talk to you:</p> -->


 <!--  <ul>
    <li>Classroom teaching at the corporate or college level</li>
    <li>Programming, software engineering, or web application product development</li>
    <li>Front-end development, including HTML5, CSS3, and JavaScript, including experience with popular libraries like jQuery and Bootstrap</li>
    <li>Mobile development, including jQuery-mobile, PhoneGap/Cordova, iOS, Android, etc.</li>
    <li>Server-side application development in JavaScript, Ruby, or Python and experience with web application frameworks like Rails</li>
    <li>Instructional design and curriculum development</li>
  </ul> -->

  <!-- <p>What you do that Portland code school will depend on the level of experience you bring and the kind of work you'd like to do. We have opportunities for:</p>

  <p><strong>Lead instructors</strong> -- responsible for curriculum development, instructional design, and classroom instruction. All our lead instructors have industry experience in software engineering, programming, and web development.</p>

  <p><strong>Co-teachers</strong> -- practicing programmers and developers who are passionate about helping students learn in a classroom environment</p>

  <p><strong>Teaching assistants</strong> -- responsible for classroom facilitation and one on one student coaching. These people are most often students or beginning developers who know that teaching is one of the best ways to learn.</p>

  <p><strong>Technical Advisors/Industry experts</strong> -- Practicing programmers and developers who are visitors to the classroom to help students become aware of state-of-the-art trends and techniques</p>

  <p><strong>Mentors</strong> -- Practicing programmers and developers who coach students one on one at local meet ups.</p> -->

</div>
