---
title: Coders with Kids
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->
<div class="container">
<br>
<h2>Coders with Kids</h2>
<hr>



<h3>Portland Code School will work with a <%= link_to "licensed", "http://cms.oregon.egov.com/EMPLOY/CCD/CCD%20Forms/LIC/LIC-311/LIC-311.pdf" %> provider of your choosing.</h3>




<div class="jumbotron">
<strong>Look for this symbol on eligible <a href="../classes/">classes</a>:</strong>
  

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <ul>

    <li>Parents who enroll in a qualifying PCS class (Full Stack JavaScript classes, Front End Development or iOS Mobile) are eligible to participate in our Coders with Kids program!
    </li>

    <li>Once enrolled in a class, parents are allocated a pool of resources to apply towards childcare at the licensed provider of their choice. Portland Code School will implement a direct invoicing system with the participating childcare provider to apply funding towards childcare costs, on a monthly basis, during the period of enrollment.</li>

    <li>To sign up for this program simply mark the 'Coders with Kids' checkbox on your enrollment form, when you are ready to sign up for the qualifying class.</li>

  </ul>
 

  <hr>

  

  

  <p><strong>Please  <%= mail_to "info@portlandcodeschool.com", "contact us" %> if you have any additional questions.</strong></p>

</div>

<!-- <div id="calculator">
  <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1731505-lhGrPWQh4v-v3"></script><noscript><a href="https://www.formstack.com/forms/?1731505-lhGrPWQh4v" title="Online Form">Online Form - Coders with Kids Calculator</a></noscript><div style="text-align:right; font-size:x-small;"></div>
</div> -->
