---
title: Coders with Kids
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->
<div class="container">
<br>
<h2>Coders with Kids</h2>
<hr>



<h3>Portland Code School will work with a licenced provider of your choosing.</h3>



<div class="jumbotron">
<strong>Look for this symbol on eligible <a href="../classes/">classes</a>:</strong>
  

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <ul>

    <li>Parents receive a pool of resources for childcare to use with a licenced provider their  choosing.
    </li>

    <li>Portland Code School will contact the licenced provider to set up an invoice.</li>

  </ul>

  

  <hr>

  

  

  <p><strong>Please  <%= mail_to "info@portlandcodeschool.com", "contact us" %> if you have any additional questions.</strong></p>

</div>

<!-- <div id="calculator">
  <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1731505-lhGrPWQh4v-v3"></script><noscript><a href="https://www.formstack.com/forms/?1731505-lhGrPWQh4v" title="Online Form">Online Form - Coders with Kids Calculator</a></noscript><div style="text-align:right; font-size:x-small;"></div>
</div> -->
