<h2>Coders with Kids</h2>

<%= image_tag "wv-logo.png" %>

<p>In partnership with WeVillage, parents in the Coders with Kids program will recieve vouchers for childcare to cover childcare equal to class and outside study time of at no additional cost to tuition. </p>

<p>WeVillage is a top-rated independant daycare facility with locations in Hillsboro and the Pearl. They operate on a drop-in basis, so parents will be able to redeem hourly vouchers and tailor a schedule that works for them. For more information about WeVillage, visit their web site at <a href="http://www.wevillage.com">http://www.wevillage.com</a></p>

<p>PCS course offerings include daytime and evening classes, including a new Front-end Freelancer class designed especially for individuals who plan to work from home. We hope that Coders with Kids will provide extra encouragement to busy parents for whom it may have been difficult to find time to devote to career building.  
</p>

<h4>Here's the skinny:</h4> 

<ul>
<li>You will not have to pay the joining fee</li> 

<li>Vouchers will be for 15 hours/week (for 4 months). This is enough to cover class time and some outside group project work time.</li>

<li>If you go beyond the 15 hours in week, you still pay the PCS rate ($7.50/hr)</li>
</ul>

<p>For more information, check the "I'm interested in the Coders with Kids program" on the <%= link_to "Get Info", "partials/infoform.html" %> form when you apply.</p>