---
title: Classes
---

<div class="row">

  <div class="col-md-3 Basics" id="Classes">
    <%= image_tag "http://placekitten.com/200/100" %>
    <h2>Basics</h2>
    <p>Bacon ipsum dolor sit amet pig ground round ribeye, turducken strip steak sirloin jerky brisket meatloaf fatback pork sausage pork belly swine. Jowl leberkas spare ribs turkey pastrami pork chop boudin andouille short loin kielbasa tongue brisket t-bone ground round hamburger.</p>
  </div>
    <div class="col-md-3" id="Classes">
    <%= image_tag "http://placekitten.com/200/100" %>
    <h2>Javascript</h2>
    <p>Bacon ipsum dolor sit amet pig ground round ribeye, turducken strip steak sirloin jerky brisket meatloaf fatback pork sausage pork belly swine. Jowl leberkas spare ribs turkey pastrami pork chop boudin andouille short loin kielbasa tongue brisket t-bone ground round hamburger.</p>
  </div>
    <div class="col-md-3" id="Classes">
    <%= image_tag "http://placekitten.com/200/100" %>
    <h2>Ruby on Rails</h2>
    <p>Bacon ipsum dolor sit amet pig ground round ribeye, turducken strip steak sirloin jerky brisket meatloaf fatback pork sausage pork belly swine. Jowl leberkas spare ribs turkey pastrami pork chop boudin andouille short loin kielbasa tongue brisket t-bone ground round hamburger.</p>
  </div>
    <div class="col-md-3" id="Classes">
    <%= image_tag "http://placekitten.com/200/100" %>
    <h2>WordPress</h2>
    <p>Bacon ipsum dolor sit amet pig ground round ribeye, turducken strip steak sirloin jerky brisket meatloaf fatback pork sausage pork belly swine. Jowl leberkas spare ribs turkey pastrami pork chop boudin andouille short loin kielbasa tongue brisket t-bone ground round hamburger.</p>
  </div>
</div>