<% @title = "Portland Code School - Calendar" %>
<% @body_id = "Classes" %>

<div class="about-wrapper">
  <h1>Portland Code School Classes</h1>

  <div class="classes-box">
    <h2>Winter 2014</h2>
    <h3><a href="Rails-ClassDetails.pdf" target="_blank">Ruby on Rails</a></h3>
    <h3><a href="JS-ClassDetails.pdf" target="_blank">Full Stack JavaScript</a></h3>
    <h3><a href="#">JavaScript Primer</a></h3>
    <h3><a href="#">Rails Primer</a></h3>
    <h3><a href="#">WordPress for Small Business Owners</a></h3>
    <h3><a href="#">BackboneJS</a></h3>
    <h3><a href="#">AngularJS</a></h3>
    <h3><a href="#">HTML/CSS</a></h3>
  </div>

</div>

