---
title: Classes
---

<div class="row">
  <h2>Classes</h2>
  <p>
    Click class icons to expand the full class description.
  </p>
  <hr>
</div>

<!-- Javascript class info -->
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger thumbnail" data-toggle="collapse" data-target="#JS">
      <%= image_tag "js.jpg" %>
    </button>
  </div>

  <div class="col-sm-6">
    <h4 id="javascript-class" class="class">JavaScript Hours:</h4>
    <p>
      6pm-9pm, Mon/Wed + 1 Saturday per month, 9am-4pm
    </p>
    <p>
      Learn how to build web applications and interactive website features from scratch using JavaScript. Students will learn both front-end and back-end applications of JavaScript, including jQuery, BackboneJS, and NodeJS. Every web application needs JavaScript, and the demand for JavaScript frameworks such as BackboneJS is only growing!
    </p>
    <hr>
  </div>
</div>
<div class="row">
  <div id="JS" class="collapse">
    <div>
      <h4>Class Description</h4>
      <p>
        This course is designed to help students learn how to build web applications and interactive website features from scratch using JavaScript as the primary language. Students will learn both front-end and back-end applications of JavaScript (including jQuery, BackboneJS, and NodeJS). Every web application needs JavaScript, so it’s an extremely powerful language to know, and the demand for JavaScript frameworks such as BackboneJS is only growing.
      </p>
      <p>
        NOTE: Students with NO CODING EXPERIENCE should consider our Primer course before diving in to Full Stack JavaScript (see the Classes page for technical requirements). Students will be provided Treehouse accounts, and will be given access to the classroom from 9am-5pm M-F, as well as some Saturdays, leaving lots of time for independent and group learning. Students will primarily be working and learning in groups of 2-4 people
      </p>
      <p>
        The Saturdays that are scheduled learning times (1 Saturday each month) will primarily consist of team building, portfolio development, and other technical areas (such as Github and Chrome’s Developer Tools) to round out the students’ curriculum, and broaden their exposure to web development tools.
      </p>
    </div>
    <div>
      <h4>Javascript Outline</h4>
      <ul>
          <li>Week 1: JavaScript Basics -- Basic Syntax, Variables + Operators</li>
          <li>Week 2: JavaScript Basics -- Loops and Conditionals</li>
          <li>Week 3: JavaScript Basics -- Functions and Objects</li>
          <li>Week 4: JavaScript Basics -- Inheritance and Scope, and Linting</li>
          <li>Week 5: JavaScript -- Writing Tests and TDD</li>
          <li>Week 6: JavaScript -- jQuery, Events, and the DOM</li>
          <li>Week 7: JavaScript -- Modular Code</li>
          <li>Week 8: JavaScript -- JSON</li>
          <li>Week 9: JavaScript -- AJAX</li>
          <li>Week 10: JavaScript -- BackboneJS</li>
          <li>Week 11: JavaScript -- BackboneJS</li>
          <li>Week 12: JavaScript -- BackboneJS</li>
          <li>Weeks 13-16: Big projects, mentoring new students, interview preparation</li>
      </ul>
      <small>NOTE: Saturday lectures and topics are not listed here, as they will be planned based on the students’ needs</small>
    </div>
    <div>
      <h4>Technical Areas Covered</h4>
      <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Github</li>
          <li>JSON</li>
          <li>AJAX</li>
          <li>APIs</li>
          <li>Debugging</li>
          <li>Writing Tests</li>
          <li>Web Standards</li>
          <li>BackboneJS</li>
          <li>NodeJS</li>
      </ul>
    </div>
    <hr>
  </div>
</div><!-- End Javascript info -->

<!-- Ruby class info -->
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger thumbnail" data-toggle="collapse" data-target="#ruby">
      <%= image_tag "ruby.jpg" %>
    </button>
  </div>
  <div class="col-sm-6">
    <h4 id="ruby-class" class="class">Ruby on Rails Hours:</h4>
    <p>
      6pm-9pm, Tue/Thurs + some Saturdays 9am-Noon + 1 Saturday per month, 9am-4pm
    </p>
    <p>
      Learn to build interactive and dynamic web applications using Ruby on Rails. We start with a one month intensive on Ruby. After that, students will dive into the Rails framework, still building Ruby skills.
    </p>
    <hr>
  </div>
</div>
<div class="row">
  <div id="ruby" class="collapse">
    <div>
      <h4>Course Description</h4>
      <p>
        This class is designed to teach students how build interactive and dynamic web applications using Ruby on Rails. We start with an intense 1-month refresher on the Ruby language. After that, we dive into the Rails framework, still building our Ruby skills. Students will be expected to spend 2-3 hours studying outside of class for every hour spent in class.
      </p>
      <p>
        Students will be provided Treehouse accounts, and will be given access to the classroom from 9am-5pm M-F, as well as some Saturdays, leaving lots of time for independent and group learning. Students will primarily be working and learning in groups of 2-4 people. Also, PCS hosts a happy hour every other Friday at local restaurants to give students a chance to meet outside of class in a social environment.
      </p>
      <p>
        The Saturdays that are scheduled learning times (1 Saturday each month) will primarily consist of team building, portfolio development, and other technical areas (such as jQuery, GitHub and the Chrome Dev Tools) to round out the students’ curriculum, and broaden their exposure to web development tools.
      </p>
    </div>
    <div>
      <h4>Ruby on Rails Outline</h4>
      <ul>
        <li>Week 1: Ruby -- Syntax, MVC architecture, Variables and Operators; IRB</li>
        <li>Week 2: Ruby -- Conditionals, Loops, and Iterations</li>
        <li>Week 3: Ruby -- Methods and Classes</li>
        <li>Week 4: Ruby -- Modules and Writing Tests</li>
        <li>Week 5: Rails -- Installation, RubyGems, Routes, Controllers and Views</li>
        <li>Week 6: Rails -- Dynamic Content, Templates, Databases, Migrations</li>
        <li>Week 7: Rails -- Models, ActiveRecord, Associations</li>
        <li>Week 8: Rails -- CRUD, Layouts, Partials</li>
        <li>Week 9: Rails -- Forms, Validations, Authentication (Devise)</li>
        <li>Week 10: Rails -- Debugging, Deployment, Writing Tests</li>
        <li>Week 11: Rails -- REST, APIs, and Writing Tests</li>
        <li>Week 12: Final Week -- Finish and Present Projects, Final Exam</li>
      </ul>
      <small>NOTE: Saturday lectures and topics are not listed here, as they will be planned based on the students’ needs</small>
    </div>
    <div>
      <h4>Technical Areas Covered</h4>
      <ul>
        <li>Ruby</li>
        <li>Ruby on Rails</li>
        <li>RubyGems</li>
        <li>Sinatra</li>
        <li>SQL</li>
        <li>Github</li>
        <li>Authentication &amp; Authorization</li>
        <li>REST APIs</li>
        <li>Debugging</li>
        <li>TDD (Test Driven Development)</li>
      </ul>
    </div>
  </div>
</div><!-- End Ruby info -->

<!-- Primer class info -->
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger thumbnail" data-toggle="collapse" data-target="#primer">
      <%= image_tag "students01.png" %>
    </button>
  </div>
  <div class="col-sm-6">
    <h4 id="primer-class" class="class">PCS Primer:</h4>
    <p>
      Total of 15-18 hours of class time + online content over the 4 weeks.
    </p>
    <p>
      Hit the road running with our PCS Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web.
    </p>
    <hr>
  </div>
</div>
<div class="row">
  <div id="primer" class="collapse">
    <div>
      <h4>Primer Learning Objectives</h4>
      <p>Learning Objectives - By the end of class you will be able to:</p>
      <ul>
        <li>Collaboratively create a static website using Github and Heroku</li>
        <li>Explain http requests and the client-server model</li>
        <li>Use the command line</li>
        <li>Create files in a text editor (Sublime Text 2) and display them in a browser</li>
        <li>Inspect a website’s code using the Chrome Developer Tools</li>
        <li>Add at least one project and one code sample to your portfolio</li>
      </ul>
    </div>
  </div>
</div><!-- End Primer info -->

<!-- Front End Freelancing class info -->
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger thumbnail" data-toggle="collapse" data-target="#freelance">
      <%= image_tag "students04.png" %>
    </button>
  </div>
  <div class="col-sm-6">
    <h4 id="freelance-class" class="class">Front End Freelancing:</h4>
    <p>
      Learn the skills necessary for web application front-end design and development.
    </p>
  </div>
</div>
<div class="row">
  <div id="freelance" class="collapse">
    <div>
      <h4>Front End Freelancing Learning Objectives</h4>
      <p>Learning Objectives - By the end of class you will be able to:</p>
      <ul>
        <li>Work with clients to understand esthetic and technical requirements</li>
        <li>Design web site look, feel, and functionality </li>
        <li>Construct web sites with HTML, CSS, JavaScript, and JQuery</li>
        <li>Deploy web sites from scratch, using static site generators, and using content-mangement systems like Wordpress</li>
        <li>Understand how to succeed in the freelance job market</li>
        <li>Develop self-motivated job skills for working at home and delivering on time</li>
        <li>Work with temp job agencies like Vitamin T </li>
        <li>Students are placed in their first freelance job assignment</li>
      </ul>
        <small>NOTE: Complementary Childcare is provided for class and studying time for all students at no extra cost</small>
    </div>
  </div>
</div><!-- End Front End Freelancing info -->
