<% @title = "Portland Code School - Calendar" %>
<% @body_id = "Classes" %>

<div class="about-wrapper">
  <h1>Portland Code School Classes</h1>

  <div class="classes-box">
    <h2>Winter 2014</h2>
    <h3><a href="Rails-ClassDetails.pdf" target="_blank">Ruby on Rails <span style="font-size:.6em;"></span></a></h3>
    <h3><a href="JS-ClassDetails.pdf" target="_blank">Full Stack JavaScript <span style="font-size:.6em;"></span></a></h3>
    <h3><a href="PCSPrimer.pdf" target="_blank" style="color:gray;">PCS Primer (April 2014)</a></h3>
    <h3><a href="#">WordPress for Small Business Owners (February 2014 - details coming soon!)</a></h3>
    <h3><a href="#">BackboneJS (April 2014 - details coming soon!)</a></h3>
    <h3><a href="#">NodeJS (June 2014 - details coming soon!)</a></h3>
    <h3><a href="#">Front End Freelancing (March 2014 - details coming soon!)</a></h3>

    <div class="internal-trainer">
      <h3>Does your dev team need to learn a new JavaScript framework or Ruby on Rails?</h3>
      <p>If you have a dev team whose skills you'd like to enhance, <a href="contact.html">contact us</a> to find out how to either bring one of our instructors to your facility, or make special arrangements for you to come in to our spacious classroom.</p>
    </div>

  </div>

</div>

