---
title: Code of Conduct
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<br>
<h2>PCS Code of Conduct</h2>
<hr>

<h3>Mission & Guiding Principles:</h3>
<p>The primary mission of the Conduct Code is to set forth the community standards and procedures necessary to maintain and protect an environment conducive to learning and in keeping with the educational objectives of Portland Code School. Founded upon the principle of freedom of thought and expression, an environment conducive to learning is one that preserves the freedom to learn, where academic standards are strictly upheld and where the rights, safety, dignity and worth of every individual are respected. Learning is a process defined by the exchange of ideas and the advancement of knowledge.
</p>

<h3>Policy on Non-discrimination:</h3>
<p>Portland Code School (PCS) affirms the right of all individuals to equal education, school and inter-school activities, facilities and employment without regard to age, race, religion, color, sex, marital status, handicap, veteran status or national origin. These policies are in accordance with federal and state laws.</p>

<p>Specifically, PCS classes depend upon an atmosphere of mutual respect among students, faculty and staff. Together, we create a safe place to listen, learn, speak candidly, and fail safely. This is not a typical college class, it's a team effort producing a final product: jobs for everyone. You have the opportunity to make deep connections here that you will enjoy the rest of your career.</p>

<p>Students are expected to act at their highest capacity and with mutual respect for each other regardless of age, race, gender identity and expression, sexual orientation, or prior experience. Instructors are expected to lead in this regard by example.</p>

<table>
  <thead>
    <tr>
      <th>Rights</th>
      <th>Responsibilities & Expectations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>All individuals have a right that they and their property are to be valued and treated with respect.</td>
      <td>All PCS students, faculty and staff  have the responsibility to treat one another, and property with respect.</td>
    </tr>
    <tr>
      <td>All individuals have the right to a safe, secure and cooperative working and learning environment.</td>
      <td>All PCS students, faculty and staff  have the responsibility to act and behave in a way which does not endanger, intimidate or interfere with the participation of others.</td>
    </tr>
    <tr>
      <td>Faculty, staff and PCS partners have the right to perform their duties in an atmosphere of order, professionalism and cooperation.</td>
      <td>All PCS students, faculty and staff  have the responsibility to uphold a distraction-free teaching and learning environment. All PCS students have the responsibility to comply with instructions and procedures set forth in the syllabus and given by any faculty/staff member or PCS partner.</td>
    </tr>
    <tr>
      <td>Portland Code School and its community partners have the right to expect support and professionalism from all students in implementing the Code of Conduct.</td>
      <td>All PCS students, faculty and staff have the responsibility to behave according to this Code and to accept the consequences if it is violated.</td>
    </tr>
  </tbody>
</table>

<h3>The following behaviors or actions will not be tolerated:</h3>

<ul>
  <li><strong>Harassment</strong>, including: intentionally subjecting a person to offensive physical contact; unreasonable insults, gestures, or abusive words, in the immediate presence, and directed to, another person that may reasonably cause emotional distress or provoke a violent response (including but not limited to electronic mail, conventional mail and telephone) except to the extent such insults, gestures or abusive words are protected expression; or other types of prohibited discrimination, discriminatory harassment, and sexual harassment as defined by law.</li>

  <li><strong>Being under the influence of illicit drugs</strong> while on-campus or at off-campus PCS sponsored educational or community/employer network activities. Smoking is designated outside at the side entrance only, not at the front entrance on NW Pettygrove.</li>

  <li><strong>Damage to or destruction of PCS or student’s property.</strong> Theft of PCS or another’s personal property.</li>
</ul>

<h3>Grievance Procedures:</h3>
<p>If you experience or perceive a problem between another PCS student, faculty or staff member, attempt to work it out on your own, if possible, but do not hesitate to bring it privately to the attention of your instructor. If this is unsatisfactory, bring it to the attention of Cris Kelly, Portland Code School Director.</p>

<h3>In case of violation of the PCS Code of Conduct:</h3>
<p>Violations of the expectations for PCS student, faculty and staff behavior may subject them to disciplinary action including, but not limited to, warning, restitution, mediation, probation, course failure, suspension, and/or dismissal. Portland Code School reserves the right to address any behavior it deems inappropriate.</p>
