
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Thank you for contacting us!</h2>

<p>
  Look for a reply from us soon! In the meantime, check out our <%= link_to "frequently asked questions", "/faq.html" %> or our <%= link_to "classes", "/classes.html" %>.
</p>

