<% @title = "Portland Code School - Contact" %>

<div id="contact-box">
  <h1>Contact Portland Code School</h1>
  <h3>Cris Kelly</h3>
  <h3>Coordinator and Assistant Instructor</h3>
  <h3><a href="mailto:ckelly@portlandcodeschool.com">ckelly@portlandcodeschool.com</a></h3>
  <h3>503-880-3551</h3>
</div>