---
title: Contact
---

<h2>Contact Us</h2>
<hr>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Cris Kelly, Director:</strong><br>
      <%= mail_to "ckelly@portlandcodeschool.com", "ckelly@portlandcodeschool.com" %>
    </p>
    <p>
      <strong>Phone Number:</strong><br>
      <a href="tel:+1-503-880-3551">503-880-3551</a>
    </p>
    <p>
      <strong>Address:</strong><br>
      1771 NW Pettygrove Street, Suite #140<br>
      Portland, OR 97209
    </p>
  </div>

  <div class="col-md-6">
    <div class="google-embed">
      <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x549509fc952cea4f%3A0x44acebf19c59abb1!2s1771+NW+Pettygrove+St%2C+Portland%2C+OR+97209!5e0!3m2!1sen!2sus!4v1388972403850" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>




<!-- <div id="Mailing Address">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1771+NW+Pettygrove+St,+Portland,+OR&amp;aq=0&amp;oq=1771+nw+p&amp;sll=45.543408,-122.654422&amp;sspn=0.357311,0.712051&amp;ie=UTF8&amp;hq=&amp;hnear=1771+NW+Pettygrove+St,+Portland,+Oregon+97209&amp;ll=45.5328,-122.68935&amp;spn=0.001396,0.002781&amp;t=m&amp;z=14&amp;iwloc=A&amp;layer=c&amp;cbll=45.532803,-122.689214&amp;panoid=li1eEicX-0gRFmpXmZoMZg&amp;cbp=12,280.88,,0,3.85&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1771+NW+Pettygrove+St,+Portland,+OR&amp;aq=0&amp;oq=1771+nw+p&amp;sll=45.543408,-122.654422&amp;sspn=0.357311,0.712051&amp;ie=UTF8&amp;hq=&amp;hnear=1771+NW+Pettygrove+St,+Portland,+Oregon+97209&amp;ll=45.5328,-122.68935&amp;spn=0.001396,0.002781&amp;t=m&amp;z=14&amp;iwloc=A&amp;layer=c&amp;cbll=45.532803,-122.689214&amp;panoid=li1eEicX-0gRFmpXmZoMZg&amp;cbp=12,280.88,,0,3.85" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div> -->