<% @title = "Portland Code School - Contact" %>
<div id="contact" class="readable-width">
  <center>
    <h2 class="line">Contact Us</h2>
    <p><i class="icon-envelope"></i> <a href="mailto:info@portlandcodeschool.com">info@portlandcodeschool.com</a></p>
    <p><i class="icon-phone"></i> 503-367-6226 (Chuck)</p>
  </center>
</div>