---
title: Contact
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<br>
<h2>Contact Us</h2>
<hr>

<div class="row jumbotron">
  <div class="col-md-6">
    <p>
      <strong>Admissions and General Information</strong><br>
      <%= mail_to "info@portlandcodeschool.com", "info@portlandcodeschool.com" %>
    </p>
    <p>
      <strong>Phone Number:</strong><br>
      <a href="tel:+1-503-308-9030">503-308-9030</a>
    </p>
    <p>
      <strong>Address:</strong><br>
      735 SW 20th Place, Suite #230<br>
      Portland, OR 97205
    </p>
    <%= partial "partials/mailinglist.html" %>
  </div>

  <div class="col-md-6">
    <div class="google-embed">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22363.570538438737!2d-122.70427603185031!3d45.52122341334042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549509fa18bbc3e3%3A0x91c6b2e0b141cf80!2sPortland+Code+School!5e0!3m2!1sen!2sus!4v1430342923645" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1824404-UROsCWfAOs-v3"></script>
  <noscript>
    <a href="https://www.formstack.com/forms/?1824404-UROsCWfAOs" title="Online Form">Online Form - Get More Information</a>
  </noscript>
  <div style="text-align:right; font-size:x-small;">
    <a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,1824404" title="Online Form Maker">Online Form Maker</a>
  </div>
</div>
