---
title: Contact
---

<h2>Contact Us</h2>
<hr>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Cris Kelly, Director:</strong><br>
      <%= mail_to "info@portlandcodeschool.com", "info@portlandcodeschool.com" %>
    </p>
    <p>
      <strong>Phone Number:</strong><br>
      <a href="tel:+1-503-880-3551">503-880-3551</a>
    </p>
    <p>
      <strong>Address:</strong><br>
      1771 NW Pettygrove Street, Suite #140<br>
      Portland, OR 97209
    </p>
  </div>

  <div class="col-md-6">
    <div class="google-embed">
      <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x549509fc952cea4f%3A0x44acebf19c59abb1!2s1771+NW+Pettygrove+St%2C+Portland%2C+OR+97209!5e0!3m2!1sen!2sus!4v1388972403850" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <%= partial "partials/infoform" %>
</div>
