<% @title = "Portland Code School - Contact" %>
<% @body_id = 'Contact' %>


<div class="home-img">
  <img src="images/home_photo.png" alt="">
  <!-- <img src="images/corevent.jpg" alt="job fair"> -->
</div>
<div class="text-a">
  <h1>Contact <strong>Portland Code School</strong></h1>
</div>
<div id="com-box" class="apply-box">
  <div id="phone-box" class="text-b">
    <h4><img src="images/icon-phone.png" alt="phone"><a href="tel:+1-503-880-3551">503-880-3551</a></h4>
  </div>
  <div id="email-box" class="apply-arrow">
    <h4><a href="mailto:ckelly@portlandcodeschool.com">ckelly@portlandcodeschool.com</a></h4>
  </div>
</div>

<div class="contact-bottom-box">
  <div class="mailingList">
    <div id="mc_embed_signup" class="alpha third-col">
      <form action="http://chuckvose.us1.list-manage.com/subscribe/post?u=bf62c907d00a592feb0eb305f&amp;id=50dbf0b987" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>
</div>