---
title: Contact
---

<h2>Contact</h2>

<p>To contact us fill out this form</p>
<form>
<p><label>Name <input type="text" name="name" placeholder="Full Name" title="Enter your name" class="required"></label></p>
<p><label>email <input type="email" name="email" placeholder="Email Address" title="Enter your Email" class="required email"></label></p>
<p><label>questions <input type="textarea" name="questions" placeholder="Put your questions here" title="Any Questions or Comments?" class="required"></label></p>
<button type="submit" name="submit" value="message">Submit</button><br>
</form>

<p>Our contact information</p>
<p>Phone</p> 
  <a href="tel:+1-503-880-3551">503-880-3551 </a>
<p>Email</p>
<address>
  <a href="mailto:ckelly@portlandcodeschool.com"> Cris Kelly </a>
</address>
<p>Address and Directions</p>
<div id="Mailing Address">
  <script src="//www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/driving_directions.xml&amp;up_from=Your%20Location%20Here&amp;up_to=1771%20NW%20Pettygrove%20St.%20%23140%20%20Portland%2C%20OR%2097209&amp;up_country=0&amp;synd=open&amp;w=320&amp;h=95&amp;title=Enter+your+address+here+for+directions&amp;lang=en&amp;country=CH&amp;border=%23ffffff%7C0px%2C1px+solid+%23004488%7C0px%2C1px+solid+%23005599%7C0px%2C1px+solid+%230077BB%7C0px%2C1px+solid+%230088CC&amp;output=js"></script>
</div>