---
title: Contact
---

<h2>Contact</h2>

<p>Our contact information</p>
<p>Phone</p> 
  <a href="tel:+1-503-880-3551">503-880-3551 </a>
<p>Email</p>
<address>
  <a href="mailto:ckelly@portlandcodeschool.com"> Cris Kelly </a>
</address>
<p>Address and Directions</p>
<div id="Mailing Address">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1771+NW+Pettygrove+St,+Portland,+OR&amp;aq=0&amp;oq=1771+nw+p&amp;sll=45.543408,-122.654422&amp;sspn=0.357311,0.712051&amp;ie=UTF8&amp;hq=&amp;hnear=1771+NW+Pettygrove+St,+Portland,+Oregon+97209&amp;ll=45.5328,-122.68935&amp;spn=0.001396,0.002781&amp;t=m&amp;z=14&amp;iwloc=A&amp;layer=c&amp;cbll=45.532803,-122.689214&amp;panoid=li1eEicX-0gRFmpXmZoMZg&amp;cbp=12,280.88,,0,3.85&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1771+NW+Pettygrove+St,+Portland,+OR&amp;aq=0&amp;oq=1771+nw+p&amp;sll=45.543408,-122.654422&amp;sspn=0.357311,0.712051&amp;ie=UTF8&amp;hq=&amp;hnear=1771+NW+Pettygrove+St,+Portland,+Oregon+97209&amp;ll=45.5328,-122.68935&amp;spn=0.001396,0.002781&amp;t=m&amp;z=14&amp;iwloc=A&amp;layer=c&amp;cbll=45.532803,-122.689214&amp;panoid=li1eEicX-0gRFmpXmZoMZg&amp;cbp=12,280.88,,0,3.85" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>