<% @title = "Portland Code School - Employers" %>
<% @body_id = "Employers" %>

<div class="about-wrapper">

  <h1>Companies in Our Network</h1>

  <div class="emp-top emp-box">
    <a href="http://www.crowdcompass.com/" target="_blank"><img src="images/employers/crowd_compass_logo_200x100.png" alt="Crowd Compass Logo" class="employer-logo emp-logo-big"></a>
    <a href="http://www.elementaltechnologies.com/" target="_blank"><img src="images/employers/elemental_logo_200x100.png" alt="Elemental Technologies Logo" class="employer-logo emp-logo-big"></a>
  </div>
  <div class="emp-mid-up emp-box">
    <a href="http://www.jivesoftware.com/" target="_blank"><img src="images/employers/jive_logo_100x100.jpg" alt="Jive Logo" class="employer-logo"></a>
    <a href="http://www.burnsidedigital.com/" target="_blank"><img src="images/employers/burnside_digital_logo.png" alt="Burnside Digital Logo" class="employer-logo"></a>
    <a href="http://newrelic.com/" target="_blank"><img src="images/employers/new_relic_logo_square_100.png" alt="New Relic Logo" class="employer-logo"></a>
  </div>
  <div class="emp-mid-down emp-box">
    <a href="https://showyou.com/" target="_blank"><img src="images/employers/showyou_logo_200x100.png" alt="Show You Logo" class="employer-logo emp-logo-big"></a>
    <a href="http://teamtreehouse.com/" target="_blank"><img src="images/employers/treehouse_logo_200x100.png" alt="Treehouse Logo" class="employer-logo emp-logo-big"></a>
  </div>
  <div class="emp-bottom emp-box">
    <a href="http://www.opensourcery.com/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8z-SepuLfkYm3tfq5VNY2NJOTmgR5ovTza-rL9PMmIVbjaWKNtw" alt="Open Sourcery Logo" class="employer-logo emp-logo-big"></a>
    <a href="http://www.act-on.com/" target="_blank"><img src="http://www.xenogenix.com/cms/images/Act-On%20logo.PNG" alt="Act On Logo" class="employer-logo"></a>
  </div>


</div>




