---
title: JavaScript Immersion Enroll
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<br>
<h2>Enroll in the JavaScript Immersion course</h2>
<hr>

<div>
	<h3>
		Clicking the link below will take you to the online application form for the JavaScript Immersion class. The form includes payment.
	</h3>
	<h3>
		If you have more questions before you apply, please <a href="mailto:info@portlandcodeschool.com">contact us</a>.
	</h3>
	<h3>
		Thank you for your excitement about learning to program!
	</h3>

	<%= link_to "Enroll Me!", "https://pcs.formstack.com/forms/javascript_immersion_enrollment_copy_copy", :class=>"btn btn-default big-apply-button", :target => "_blank" %>

</div>