---
title: Enroll
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Enroll in the Web Development Primer Course</h2>

<p>Hit the road running with our Web Development Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web.</p>

<p>Already know some code? <%= link_to "Apply", "/apply.html" %> for our full- or part-time classes.</p>

<div class="hidden-xs">
  <iframe src="https://docs.google.com/forms/d/123ubvjrf_LIQaFz4vcoB1LgJdthl2hcHmUO-x8C9L_k/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class="visible-xs">
  <iframe src="https://docs.google.com/forms/d/123ubvjrf_LIQaFz4vcoB1LgJdthl2hcHmUO-x8C9L_k/viewform?embedded=true" width="280" height="650" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
