---
title: Enroll
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<br>
<h2>Enroll in the Web Development Primer Course</h2>
<hr>
<!-- <p>Hit the road running with our <%= link_to "Web Development Primer", "webdevelopmentPrimer.html" %> course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web.</p>

<p>Already know some code? <%= link_to "Apply", "/apply.html" %> for our full- or part-time classes.</p> -->

<!-- Formstack embed code -->
<div>
  <script type="text/javascript" src="http://www.formstack.com/forms/js.php?1711326-2mQp8xQ5W4-v3"></script><noscript><a href="http://www.formstack.com/forms/?1711326-2mQp8xQ5W4" title="Online Form">Online Form - Web Development Primer Enrollment</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,1711326" title="HTML Form Generator">HTML Form Generator</a></div>
</div>
