<% @title = "Portland Code School - FAQ" %>
<% @body_id = 'faq' %>

<div class="about-wrapper">
  <h2>FAQ</h2>
  <div class="question">
    <p><strong>When does the program start?</strong></p>
    <p>
      Program start dates are as follows
      <ul>
        <li><em>Fall Session: </em>September 30</li>
        <li><em>Winter 2014 Session: </em>January 6, 2014</li>
        <li><em>Spring 2014 Session: </em>May 5, 2014 (tentative)</li>
      </ul>
    </p>
  </div>

  <div class="question">
    <p><strong>When is the application deadline?</strong></p>
    <p>
      Application deadlines are as follows
      <ul>
        <li><em>Fall Session: </em>September 13</li>
        <li><em>Winter 2014 Session: </em>November 18</li>
        <li><em>Spring 2014 Session: </em>April 7, 2014 (tentative)</li>
      </ul>
    </p>
  </div>

  <div class="question">
    <p><strong>How long is each session?</strong></p>
    <p>12 weeks</p>
  </div>

  <div class="question">
    <p><strong>When will applications be accepted?</strong></p>
    <p>Fall and Winter session applications are being accepted now. Please indicate which session you are applying for.</p>
  </div>

  <div class="question">
    <p><strong>How much does it cost?</strong></p>
    <p>$1,000 deposit due when you are accepted into the program to hold your spot. $2500 due by the end of the session.</p>
    <p>We endeavor to not turn away any students for purely financial reasons. Please contact us if you need financial assistance.</p>
  </div>

  <div class="question">
    <p><strong>How do I apply?</strong></p>
    <p><a href="http://www.portlandcodeschool.com/apply.html">Click here</a></p>
  </div>

  <div class="collapsable">
    <h3>Expectations</h3>

    <div class="question">
      <p><strong>What's the minimum skill level for the program?</strong></p>
      <p>This will depend on which track you enter.</p>
      <p>For the JavaScript track:</p>
        <ul>
          <li>Familiarity with the Internet</li>
          <li>Desire to be a professional web developer</li>
          <li>Understand that Java and JavaScript are completely different languages</li>
          <li>Basic computer skills (keyboard use, surfing the Internet...real basic stuff</li>
        </ul>
      </p>
      <p>For the Ruby on Rails track:</p>
        <ul>
          <li>Demonstrated understanding of programming basics</li>
          <li>Command line experience</li>
          <li>Github account with self-created repos and lots of "green"</li>
        </ul>
      </p>
    </div>

    <div class="question">
      <p><strong>How can I do better in the application process?</strong></p>
      <p>
        <p>There are three things you can do.</p>
        <p>
          <ul>
            <li>Creative Project: Make a video or other creative project that features you doing whatever it is you do to help us get to know you better. </li>
            <li>Portfolio: Make a portfolio of your previous learning attempts. We aren't expecting something like worrydream.com, but it's a great example of a superior portfolio piece. </li>
            <li>Community Engagement: Get involved in a programmer community such as Code Scouts, Ruby Newbies, Hack + Help, RailsGirls/RubyNest, JavaScript Admirers, or any of a hundred other options you can find on <a href="http://calagator.org/events">Calagator</a>.</li>
          </ul>
        </p>
      </p>
    </div>

    <div class="question">
      <p><strong>Can I really learn to code in 12 weeks?</strong></p>
      <p>Yes, but you should expect to work hard in this program (about 2-3 hours outside of class for each hour in class). Our programs each meet two nights weekly (3 hours each night), and one Saturday each month (6 hours more). We want to make sure you are prepared for a career as web developer, which means there is a lot of ground to cover.</p>
    </div>

    <div class="question">
      <p><strong>Will we be guaranteed a job after the program?</strong></p>
      <p>No, there is no guarantee. But if you do well we will try our hardest to make sure you find your way into the loving arms of a great developer shop.</p>
    </div>

    <div class="question">
      <p><strong>What if I can't pay?</strong></p>
      <p>We endeavor to not turn away anyone for financial reasons. Let us know if tuition presents a significant financial difficulty and we will do everything we can to work with you.</p>
    </div>

    <div class="question">
      <p><strong>Do I need to be enrolled in college to take part?</strong></p>
      <p>Not at all. This is a private career school.</p>
    </div>

    <div class="question">
      <p><strong>Will we be working alone or in teams?</strong></p>
      <p>We believe strongly in pairing and working in small groups. There will be some individual work time and some larger group work time, but you will spend 80% of your time pairing with another student (or two) or a mentor.</p>
    </div>

    <div class="question">
      <p><strong>Will there be any open source work?</strong></p>
      <p>Yes. We encourage open source work and provide time in the final phase of the program for guided open source work.</p>
    </div>

    <h3>Teaching details</h3>

    <div class="question">
      <p><strong>What happens if I can't keep up or if I find out that I hate programming?</strong></p>
      <p>This program is going to be hard and the only way to know how far you can go is to try. We promise to do everything we can to help you through the program and provide extra resources and help sessions for you.</br>But, at the end of the day if you need to drop the program, we offer a pro-rated tuition refund. The pro-rated refund does not include the $1,000 deposit.</p>
    </div>
  </div>
</div>