<% @title = "Portland Code School - FAQ" %>
<% @body_id = 'faq' %>
<div class="readable-width">
  <h2>FAQ</h2>
  <div class="question">
    <p><strong>When does the program start?</strong></p>
    <p>
      Program start dates are as follows
      <ul>
        <li><em>Summer Session:</em> June 3rd</li>
        <li><em>Fall Session:</em> September 3rd</li>
        <li><em>Winter Session 2014:</em> January 6th</li>
      </ul>
    </p>
  </div>

  <div class="question">
    <p><strong>When is the application deadline?</strong></p>
    <p>
      Application deadlines are as follows
      <ul>
        <li><em>Summer Session:</em> March 29th</li>
        <li><em>Fall Session:</em> July 19th</li>
        <li><em>Winter Session 2014:</em> October 18th</li>
      </ul>
    </p>
  </div>

  <div class="question">
    <p><strong>How long is the program?</strong></p>
    <p>12 weeks long</p>
  </div>

  <div class="question">
    <p><strong>When will applications be accepted?</strong></p>
    <p>Summer and Fall session applications are being accepted now. Please indicate which session you are applying for.</p>
  </div>

  <div class="question">
    <p><strong>How much does it cost?</strong></p>
    <p>$1,000 deposit due when you are accepted into the program to hold your spot. $6,500 due at the start of the session.</p>
    <p>We endeavor to not turn away any students for purely financial reasons. Please contact us if you need financial assistance.</p>
  </div>

  <div class="question">
    <p><strong>How do I apply?</strong></p>
    <p><a href="http://www.portlandcodeschool.com/apply.html">Click here</a></p>
  </div>

  <div class="collapsable">
    <h3>Expectations</h3>

    <div class="question">
      <p><strong>What's the minimum skill level for the program?</strong></p>
      <p>
        There are many different ways skills can be organized and sorted. Our preference is that you have:
        <ul>
          <li>Familiarity with a mac, including command key actions</li>
          <li>Command line experience,</li>
          <li>Completed some small project such as a static HTML page and a programming exercise such as “Hello World” or <a href="http://www.rubyquiz.com/quiz126.html">“FizzBuzz”</a></li>
        </ul>
        <p>You can find an excellent tutorial for command line utilities on Treehouse, our curriculum partner’s site. Sign up for an account to get up to speed and ready for the program <a href="https://teamtreehouse.com/subscribe/new?plan=2">Here.</a></p>
        <p>The command line tutorial is located <a href="http://teamtreehouse.com/library/programming-2/console-foundations/getting-started-with-the-console">Here.</a></p>
        <p>Here is what we cover in the first week to give you an idea of the starting point for the program:</p>
        <ul>
          <li>Static HTML pages that include content, links, lists, tables, and forms</li>
          <li>Introduction to CSS external style sheets, selectors, colors, padding, and margin</li>
          <li>Ruby basics, variables, strings, arrays, hashes, and methods</li>
        </ul>
      </p>
    </div>

    <div class="question">
      <p><strong>How can I do better in the application process?</strong></p>
      <p>
        <p>There are three things you can do.</p>
        <p>
          <ul>
            <li>Creative Project: Make a video or other creative project that features you doing whatever it is you do to help us get to know you better. </li>
            <li>Portfolio: Make a portfolio of your previous learning attempts. We aren’t  expecting something like worrydream.com, but it's a great example of a superior portfolio piece. </li>
            <li>Community Engagement: Get involved in a programmer community such as Code Scouts, Ruby Newbies, Hack + Help, RailsGirls/RubyNest, PYLadies, or any of a hundred other options you can find on <a href="http://calagator.org/events">Calagator.</a></li>
          </ul>
        </p>
      </p>
    </div>

    <div class="question">
      <p><strong>Can I do less than 40 hours a week?</strong></p>
      <p>No. This program is short and packed as full of learning as possible. We want to make sure you are prepared for a career as web developer and there is a lot of ground to cover. You should expect to work hard in this program.</p>
    </div>

    <div class="question">
      <p><strong>Will we be guaranteed a job after the program?</strong></p>
      <p>No, there is no guarantee. But if you do well we will try our hardest to make sure you find your way into the loving arms of a great developer shop.</p>
    </div>

    <div class="question">
      <p><strong>What if I can't pay?</strong></p>
      <p>We endeavor to not turn away anyone for financial reasons. Let us know if tuition presents a significant financial difficulty and we will do everything we can to work with you.</p>
    </div>

    <div class="question">
      <p><strong>Do I need to be enrolled in college to take part?</strong></p>
      <p>Not at all. Since the program is 40+ hours per week it would be difficult to be enrolled in college at the same time.</p>
    </div>

    <h3>Day to day life</h3>

    <div class="question">
      <p><strong>Will we do projects of our own devising or something you come up with?</strong></p>
      <p>The first project will be assigned, but the second, more ambitious project, will be of your own devising. This second project can cover any topic but we will work together to make sure that it's feasible.</p>
    </div>

    <div class="question">
      <p><strong>Will we be working alone or in teams?</strong></p>
      <p>We believe strongly in pairing. There will be some individual work time and some  larger group work time, but you will spend 80% of your time pairing with another student or a mentor.</p>
    </div>

    <div class="question">
      <p><strong>Will there be any open source work?</strong></p>
      <p>Yes. We encourage open source work and provide time in the final phase of the program for guided open source work.</p>
    </div>

    <h3>Teaching details</h3>

    <div class="question">
      <p><strong>What happens if I can't keep up or if I find out that I hate programming?</strong></p>
      <p>This program is going to be hard and the only way to know how far you can go is to try. We promise to do everything we can to help you through the program and provide extra resources and help sessions for you.</br>But, at the end of the day if you need to drop the program, we offer a pro-rated tuition refund. The pro-rated refund does not include the $1,000 deposit.</p>
    </div>
  </div>
</div>