<% @title = "Portland Code School - FAQ" %>
<div class="readable-width">
  <h2 class="line">FAQ</h2>
  <h3 class="line">Most Common</h3>
  <p><strong>Q: When does the program start?</strong></p>
  <p>A: February 1st, 2013</p>

  <p><strong>Q: How long is the program?</strong></p>
  <p>A: 12 weeks long</p>

  <p><strong>Q: When is the application deadline?</strong></p>
  <p>A: January 4th</p>

  <p><strong>Q: When will applications be accepted?</strong></p>
  <p>A: Now</p>

  <p><strong>Q: How much does it cost?</strong></p>
  <p>A: $1000 on day one, $6500 over 5 years unless you get hired by one of our network employers</p>

  <p><strong>Q: How do I apply?</strong></p>
  <p>A: <a href="http://www.portlandcodeschoole.com/apply.html">Click here</a></p>

  <h3 class="line">Expectations</h3>
  <p><strong>Q: What's the minimum skill level for the program?</strong></p>
  <p>A: You should know about HTML and some CSS. Applications that demonstrate some knowledge of a previous programming language will be preferred.</p>

  <p><strong>Q: How can I game the application process?</strong></p>
  <p>A: Make a video of you doing whatever it is you do. Start collecting your various learning attempts in one place, make them presentable. I'm not expecting something like worrydream.com, but it's a great example of what I would consider a superior portfolio piece. The second thing you can do is to get involved in an open source community of your choosing; it doesn't have to be code, but if I google your name or your username I expect to find lots of activity on the Internet.</p>

  <p><strong>Q: Can I do less than 40 hours a week?</strong></p>
  <p>A: No. This program is short as it is and I need people to take it as seriously as we do.</p>

  <p><strong>Q: Will we be guaranteed a job after the program?</strong></p>
  <p>A: No, there is no guarantee. But if you do well we will try our hardest to make sure you find your way into the loving arms of a great ruby shop somewhere in town even if it isn't our shop.</p>

  <p><strong>Q: What if I can't pay?</strong></p>
  <p>A: We endeavor to not turn away anyone for financial reasons. We will work with you if at all possible.</p>

  <p><strong>Q: Do I need to be enrolled in college to take part?</strong></p>
  <p>A: Not at all. Since the program is 40-hours per week it would be difficult to be enrolled in college at the same time except during the summer.</p>

  <h3 class="line">Day to day life</h3>
  <p><strong>Q: How much input do I have in shaping the program?</strong></p>
  <p>A: This is your program and I'm here to facilitate your learning.</p>

  <p><strong>Q: Will we be expected to blog about our experiences</strong></p>
  <p>A: Only if you want to or if you feel like the program would benefit from this exposure.</p>

  <p><strong>Q: Will we do projects of our own devising or something you come up with?</strong></p>
  <p>A: The first project will be one of my own cruel devising but the second, more ambitious project, will be of your own devising. This second project can cover any topic but we will work together to make sure that it's feasible.</p>

  <p><strong>Q: Will we be working alone or in teams?</strong></p>
  <p>A: We believe strongly in pairing. There will be some time where you will work alone or in a larger group, but you will spend 80% of your time pairing with another student or a mentor.</p>

  <p><strong>Q: Will there be any open source work?</strong></p>
  <p>A: We encourage as much open source work as you want to do but there isn't time in the calendar to do much of it this time. In later sessions we will work with more non-profits and open source projects.</p>

  <h3 class="line">Teaching details</h3>
  <p><strong>Q: What happens if I can't keep up or if I find out that I hate programming?</strong></p>
  <p>A: Washout is an important part of education but I don't take it lightly. This program is going to be hard and the only way to know how far you can go is to try. As such I'll try my hardest to help you through the program or assign extra resources for you but at the end of the day if you need to go we will part ways with fondness and a handshake.</p>
</div>