---
title: FAQ
---


<h2>FAQ</h2>

  <h1>Financial Questions:</h1>

<div class="question"><h4><a href="#">How much does the program cost?</a></h4>
      <div class="answer">
          <p>$3500 for the main classes: Rails, JS, and FEF.</p>
      </div>
  </div>

<div class="question"><h4><a href="#">What kind of payment plans do you offer?</a></h4>
      <div class="answer">
      <p>The month after the 4-month program ends, the balance of $2500 may be paid back over 9 months ($320 for 8 months, and $90 for the 9th month -- for a total of $2650, including 6% interest).</p></div></div>

<div class="question"><h4><a href="#">Can I use Stafford Loans, VA benefits, or GI Bill to pay for classes?</a></h4>
      <div class="answer">
      <p>Unfortunately, we cannot accept any payment methods other than cash, personal check, or paypal.</p></div></div>

<h1>Job Placement:</h1>
<div class="question"><h4><a href="#">Am I guaranteed a job at end of the program?</a></h4>
      <div class="answer">
      <p>We do not offer a guarantee. We have two kinds of students at PCS: those who are here to learn and get a job when it’s over, and those who are here to learn for themselves or their business. The ones who want to get a job at end are almost always successful. We believe in the motto: “Success does not come to you; you go to it -- and we’ll help you go.”</p></div></div>

<div class="question"><h4><a href="#">What percentage of your students get placed into jobs?</a></h4>
      <div class="answer">
      <p>Out of our graduates who have wanted to get placed, our summer cohort is 100% placed, and last winter’s cohort is 80% placed. Not all placed students were placed within our employer network. In addition to our efforts, PCS works with two agencies -- CorSource and Vitamin T -- who also actively find work and interviews for graduates of the program. PCS and its partners (like CorSource) help students with interview coaching, resumé building, and networking within Portland’s tech community.</p></div></div>

<h1>Other Questions:</h1>
<div class="question"><h4><a href="#">Who are your instructors?</a></h4>
      <div class="answer">
      <p><%= link_to "Al Zimmerman" , "/about.html"%> teaches two courses: Ruby on Rails and Front End Freelancing. <%= link_to "David Manning" , "/about.html" %> and Ben Verble co-teach the JavaScript course.</p></div></div>

<div class="question"><h4><a href="#">What if I have never coded before?</a></h4>
      <div class="answer">
      <p>That’s perfectly fine. Our Primer class is designed to get you the technical skills needed to be accepted into either the Ruby on Rails or JavaScript classes. Those skills include: using basic HTML, CSS, GitHub, and Sublime Text (or another excellent text editor for developers). If you do not yet possess those skills, we recommend taking either our Primer or the Front End Freelancing classes.</p></div></div>

<div class="question"><h4><a href="#">Which class should is best for me</a></h4>
      <div class="answer">
      <p>This is a great question, and one we can only help you answer for yourself. We recommend contacting our instructors to help you get a better idea of what skills you’ll get out of each class, what your personal interests are, and how each class should weigh into your decision.</p></div></div>

<div class="question"><h4><a href="#">What happens if I can't keep up, or if I find that programming is not for me?</a></h4>
      <div class="answer">
      <p>It is an accelerated learning program, so you should be prepared to treat your time at PCS like a professional job. If it proves to be too much for you, or if you find that programming is simply not your thing, then we retain the $1000 non-refundable deposit, and refund you a pro-rated amount of tuition.</p></div></div>

<div class="question"><h4><a href="#">When is the application deadline?</a></h4>
      <div class="answer">
      <p>This is generally 2 weeks before the start of each class, but check our <%=link_to "calendar" , "/calendar.html" %> just to be sure.</p></div></div>
      
<div class="question"><h4><a href="#">When do classes start?</a></h4>
      <div class="answer">
      <p>Please check our <%=link_to "calendar" , "/calendar.html" %> for the start dates for each class, or the class descriptions for the next time each class is offered.
</p></div></div>






