---
title: Friends of PCS
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- <h2>Friends of PCS</h2>

<p>
  Portland Code School's students, staff, and instructors are very grateful for the tremendous support we receive from the Portland community!
</p>

<p>
  <h4>Employer and Community Friends:</h4>
  <ul>
    <li></li>
  </ul>
</p>

<p>
  <h4>Individual Friends:</h4>
  <ul>
    <li></li>
  </ul>
</p> -->
