---
title: Get Info
---

<p>
  Thank you for your interest in attending Portland Code School! Please be sure to review our <%= link_to "classes page", "/classes.html" %> to decide which of our courses best fits your needs. If you aren't sure which class is for you, feel free to <%= mail_to "info@portlandcodeschool.com", "email us" %> for more information.
</p>

<%= partial "partials/infoform" %>