<% @title = "Portland Code School - Hiring" %>
<div class="readable-width">
  <h2 class="line">Hiring a Student</h2>
  <p>Becoming an employer listed on the site is free. When you hire a student you pay a placement fee which offsets their tuition. Once you become an employer you gain access to all current and upcoming students, you may interact with them, and we will send status updates as we go. After each program we also offer a special dinner where you can interact with the students and try to convince them to join you and your company.</p>
  <p>Many students apply to the program, but we only accept people that we would actually like to work with and would recommend highly. After spending 3 months with us we're absolutely confident that they will have a solid foundation in software development.</p>
  <p>To become an employer send us an email and we'll take it from there. <a href="mailto:info@portlandcodeschool.com">info@portlandcodeschool.com</a></p>
</div>
<div class="readable-width">
  <h2 class="line">Lending a Hand</h2>
  <p>Becoming an employer is only half the battle. We've found that employers that engage with the students get the absolute best students from the program; students feel loyalty to those that help them along the way. We're open to any suggestions, but these are a few that we've found to be very helpful:</p>
  <ul>
    <li>Sponsor a student through our scholarship program</li>
    <li>Send an engineer to do a guest lecture</li>
    <li>Consult with the students on front-end or server matters</li>
    <li>Come talk about what your company does</li>
    <li>Come talk about wages and benefits in Portland</li>
    <li>Anything you're passionate about</li>
  </ul>
  <p>If you would like to help the program grow, or just help tailor the program to fit your organization just drop us an email so we can hash out the details. <a href="mailto:info@portlandcodeschool.com">info@portlandcodeschool.com</a></p>
</div>