<% @title = "Portland Code School - Employers" %>
<% @body_id = "hire" %>

<div class="readable-width">
  <h2>The Employer Network</h2>
  <p>The Portland Code School Employer Network is free to join and provides you
  with exclusive opportunities to meet our students, get to know them better, and
  hire them at the end of the program if you want them on your team.</p>
  <p>Joining the Employer Network means being a partner of the Portland Code School. We listen to feedback and input from our partners about what skills they need and what kinds of employees they are looking for.
  <p>We also offer employer trainings on bringing junior developers up to speed after hiring and ongoing support for mentoring and evaluating new hires.</p>
  <p>Most importantly, our partners build relationships with students by participating in a variety of engagement opportunities. Getting to know the students before hiring ensures the best fit for your team when it's time to hire. This also gives students a chance to get to know your company and get excited about working for a great employer. </p>
  <p><strong>To join the Employer Network, send us:</strong></p>
  <ul>
    <li>The name and email address of a liason from your company</li>
    <li>A 100x100 image of your logo and a destination url</li>
  </ul>
  <p><strong>Email us at <a href="mailto:employers@portlandcodeschool.com">employers@portlandcodeschool.com</a></strong></p>

  <h2>Hiring a Student</h2>
  <p>If you decide to hire a student, we charge a placement fee of $7,500. 100% of
  this fee refunds the student's tuition.</p>
  <p><strong>Cost to join the Employer Network: Free</strong></p>
  <p><strong>Cost to hire a student after graduation: $7,500</strong></p>
</div>

<h2>Engagement Opportunities</h2>

<div class="clearfix engagement">
  <div class="left-col">
    <img src="/images/en_badges/tours_and_talks.jpg"></img>
    <p><strong>Tours & Talks</strong></p><p>Give students a tour of your offices and then sit down for 15-20 minutes to chat with students about the work your developers are doing, your office’s own unique culture and style, and what kinds of developers and skills you typically look for when hiring.</p>
  </div>
  <div class="right-col">
    <img src="/images/en_badges/social_hour.jpg"></img>
    <p><strong>Social Hour</strong></p><p>Host a lunch or happy hour with students. This could be combined with a tour and is a fun way to socialize and get to know the students. Students can also get to know your team and get excited about your company.</p>
  </div>
</div>

<div class="clearfix engagement">
  <div class="left-col">
    <img src="/images/en_badges/swag.jpg"></img>
    <p><strong>Share Some Swag</strong></p><p>Dress the students in your company’s gear! Our students are actively engaged in networking events all over town every single week. Wouldn’t it be great if they were wearing your logo while they meet people all over town?</p>
  </div>
  <div class="right-col">
    <img src="/images/en_badges/guest_lecture.jpg"></img>
    <p><strong>Guest Lecture</strong></p><p>We welcome your expertise! Is there a topic your team values above all else that you want to make sure students know? There is room in the class schedule for a brief lecture or talk on topics that matter most to you.</p>
  </div>
</div>

<div class="clearfix engagement">
  <div class="left-col">
    <img src="/images/en_badges/en_training.jpg"></img>
    <p><strong>Employer Network Training</strong></p><p>Attend our webinar training free to Employer Network members all about bringing a junior developer up to speed in just two weeks.</p>
  </div>
  <div class="right-col">
    <img src="/images/en_badges/job_fair.jpg"></img>
    <p><strong>Job Fair</strong></p><p>Come meet each of the students in week eight to find out if there is a new team member for your company among them.</p>
  </div>
</div>

<div class="clearfix engagement">
  <div class="left-col">
    <img src="/images/en_badges/host_a_hacker.jpg"></img>
    <p><strong>Host a Hacker</strong></p><p>Get to know a student on your home turf by hosting them one or two days a week in the final month of the program. See if they fit into your team dynamic by including them in team fun & social time on Fridays, let them see how your teams work together, and get a feel for your office culture.</p>
  </div>
  <div class="right-col">
    <img src="/images/en_badges/mentor_a_student.jpg"></img>
    <p><strong>Mentor a Student</strong></p><p>Assign a team member to check in periodically with a student you are hosting is a great way to evaluate their technical ability and work style. Mentors can help students by pairing for short periods of time to work on a bug or a feature in a prominent open source project.</p>
  </div>
</div>

