<% @title = "Portland Code School - Employers" %>
<div class="readable-width">
  <h2 class="line-half">The Employer Network</h2>
  <p>The Portland Code School Employer Network is free to join and provides you
  with exclusive opportunities to meet our students, get to know them better, and
  hire them at the end of the program if you want them on your team.</p>
  <p>If you decide to hire a student, we charge a placement fee of $7,500. 100% of
  this fee goes to the student to refund their tuition costs.</p>
  <p><strong>Cost to join the Employer Network: Free</strong></p>
  <p><strong>Cost to hire a student after graduation: $7,500</strong></p>

  <h2 class="line-quarter">Employer Network Benefits</h2>
  <p>We've found that students want to work for the companies they know. Company tours, externships, sponsoring students with financial assistance, and guest lectures are all great ways to ensure that you have a new batch of great potential employees each term.</p>
  <p>As a member, you can:</p>
  <ul>
    <li>Have a table and/or speak to students at a job fair held at the end of each session</li>
    <li>Join students for lunch to chat and get to know them and share a bit about
    your company</li>
    <li>Invite students to tour your company</li>
    <li>Offer externship programs to current students</li>
    <li>Have your logo hosted on the Portland Code School website</li>
    <li>Give a guest lecture to current students</li>
    <li>Give direct feedback about specific skills and tools you want potential
    employees to have</li>
  </ul>

  <p><strong>To join the Employer Network, send us:</strong></p>
  <ul>
    <li>The name and email address of a liason from your company</li>
    <li>A 100x100 image of your logo and a destination url</li>
  </ul>

  <p><strong>Email us at <a href="mailto:employers@portlandcodeschool.com">employers@portlandcodeschool.com</a></strong></p>

  <h2 class='line'>Portland Code School Program Resume</h2>
  <p>The Portland Code School application process is competitive and students are
  selected based on their passion for programming, their strong communication skills, and their ability to work as part of a team.</p>
  <p><strong>Each student receives intensive training on:</strong></p>
  <ul>
    <li>Pair programming</li>
    <li>Source control via Git</li>
    <li>Agile methodologies</li>
    <li>Some technical writing</li>
    <li>Experience working as a large team</li>
    <li>Web development skills suitable for professional development</li>
      <ul>
        <li>HTML5/CSS3 both straight and via Haml/Sass/Less</li>
        <li>jQuery, Backbone and/or Chaplin, Coffeescript, and many libraries</li>
        <li>Ruby on Rails, Sinatra and Middleman and many, many gems</li>
        <li>An understanding of and practice using rspec and TDD</li>
      </ul>
  </ul>
  <p><small><em>Skill level and proficiency may vary by individual.</em></small></p>

  <h2 class='line'></h2>
  <p>We strongly believe that education doesn't end when the program does. We
maintain a post-graduation mailing-list and chatroom as well as opportunities to
connect with programmer networks, workshops, and professional development opportunities.</p>