<% @title = "Portland Code School - Employers" %>
<div class="readable-width">
  <h2 class="line-half">The employer network</h2>
  <p>Joining the Portland Code School employer network is free and grants you access to a job fair at the end of the program, reasonable access to the students while they're learning, and your logo on the homepage of the website.</p>
  <p>In addition, we've found that students go to the companies that they recognize. Company tours, externships, sponsoring students in need, and guest lectures are all great ways to ensure that you have a new batch of great employees each term.</p>
  <p>In order to join the network we need just two things from you:</p>
  <ul>
    <li>An email of a liason</li>
    <li>A 100x100 image of your logo and a destination url</li>
  </ul>

  <p>To join the network please send an email to <a href="mailto:employers@portlandcodeschool.com">employers@portlandcodeschool.com</a></p>

  <h2 class='line'>Hiring a student</h2>
  <p>When you find a student that you love, we ask that you pay off their student fees after you are confident that they are going to fit with your company. Their student fees are $7500. When you pay us their student fees in one lump you help us grow the program and relieve us of the responsibility and difficulty of gathering funds from the student.</p>
  <p>New students will be coming out with a great number of skills that vary by individual but this list should be a fair representation:</p>
  <ul>
    <li>Excellent communication skills and teamwork.</li>
    <li>Pair programming</li>
    <li>Source control via Git</li>
    <li>Agile methodologies</li>
    <li>Some technical writing</li>
    <li>Experience working as a large team.</li>
  </ul>
  <ul>
    <li>Web development skills suitable for professional development.</li>
    <li>HTML5/CSS3 both straight and via Haml/Sass/Less</li>
    <li>jQuery, Backbone and/or Chaplin, Coffeescript, and many libraries</li>
    <li>Ruby on Rails, Sinatra and Middleman and many, many gems</li>
    <li>An understanding and practice using rspec and TDD</li>
    <li>After hiring</li>
  </ul>

  <p>We believe very strongly that education doesn't end when the program does. We will maintain a mailing-list and a chatroom as well as regular check-ins with the students.</p>
  <p>Since this process is unique to each organization and to each individual we welcome any input on this.</p>
