<% @title = "Portland Code School" %>
<% @body_id = 'homepage' %>

<div class="home-img">
  <%= image_tag ('https://asunews.asu.edu/files/dsc_0011.jpg') %>
  <div class="text-overlay">
     <p>We learned code. So can you.</p>
     <a href="/apply.html">
       <button class="btn btn-large btn-success" type="button">Apply</button>
     </a>

  </div>
</div>

