<% @title = "Portland Code School" %>
<div id="intro" class="full-width">
  <h2 class="line">The Program</h2>
  <p>When learning to program, between beginner tutorials and full-time software development there is an abyss of misunderstandings and false starts. How many programmers do we lose in this abyss? How many outstanding employees get stuck in the sand and never reach your HR person? Portland is a top-notch city for developers; we make sure that it's an oasis for newcomers.</p>
</div>
<div class="left-col">
  <h2 class="line-half">Students</h2>
  <p>Whether you're coming from another career or already know some programming, you probably have a lot of questions about this program. Click here to get started on your way to a career full of creativity and joy.</p>
  <a href="/program.html" class="button">New Students</a>
</div>
<div class="right-col">
  <h2 class="line-half">Employers</h2>
  <p>Finding awesome people that work hard and get along with clients can be hard. We've done the work for you; all you need to do is find the student that matches your company style and show them where to sit.</p>
  <a href="/hire.html" class="button">Employers</a>
</div>
<div class="full-width" id="alumni">
  <h2 class="line-half">Current Students</h2>
  <div class="third-col first">
    <img src="/images/danskey.jpg">
    <h3>Matthew Danskey</h3>
    <p>Matt comes to us straight from college where he split his studies between computer science and psychology. These two fields share more than you might think and we often find that it's hard to tell which domain his solutions come from; but no matter what they're always effective. He is whip smart and eager to pick up new technologies.</p>
  </div>
  <div class="third-col">
    <img src="/images/kinnecom.jpg">
    <h3>Pete Kinnecom</h3>
    <p>Pete holds two masters degrees in both Mathematics and Teaching and has been an invaluable ally in the creation of the program. He is always willing to speak up about what he's interested in learning next and brings a thoughtful approach to programming that is absolutely necessary to become a great programmer. He also makes great backgrounds.</p>
  </div>
  <div class="third-col last">
    <img src="/images/sakry.jpg">
    <h3>Rachel Sakry</h3>
    <p>Rachel Sakry has always loved making things and collaborating with people. Before delving into computer programming, she spent much of her life creating music and sound for theater. These days, you can find her learning and helping others learn at <a href="http://pdxruby.org/learn">Ruby Beginners</a> meetups, and volunteering at events like <a href="http://barcampportland.org/">BarCamp</a> and <a href="http://opensourcebridge.org/">Open Source Bridge</a>. Rachel is honored and thrilled to be part of the first iteration of Portland Code School.</p>
  </div>
</div>
<div class="full-width" id="sponsors">
  <h2 class="line">Sponsors</h2>
  <div class="third-col first">
    <h3>Made With Love By</h3>
    <br>
    <a href="http://burnsidedigital.com">
      <div id="burnside-logo">
        <%= image_tag('/images/logo-burnside-digital-small.png') %>
      </div>
    </a>
  </div>
  <div class="image-row">
    <div class="sixth-col"><img src="/images/new_relic_logo_square_100.png"></div>
    <div class="sixth-col"><img src="http://placehold.it/100x100"></div>
    <div class="sixth-col"><img src="http://placehold.it/100x100"></div>
    <div class="sixth-col last"><img src="http://placehold.it/100x100"></div>
  </div>
  <div class="image-row">
    <div class="sixth-col"><img src="http://placehold.it/100x100"></div>
    <div class="sixth-col"><img src="http://placehold.it/100x100"></div>
    <div class="sixth-col"><img src="http://placehold.it/100x100"></div>
    <div class="sixth-col last"><img src="http://placehold.it/100x100"></div>
  </div>
  <div class="clearfix"></div>
</div>