<% @title = "Portland Code School" %>
<div id="intro" class="full-width">
  <h2 class="line">The Program</h2>
  <p>When learning to program, between beginner tutorials and full-time software development there is an abyss of misunderstandings and false starts. How many programmers do we lose in this abyss? How many outstanding employees get stuck in the sand and never reach your HR person? Portland is a top-notch city for developers, we make sure that it's an oasis for newcomers.</p>
</div>
<div class="left-col">
  <h2 class="line-half">Students</h2>
  <p>Whether you're coming from another career or already know some programming, you probably have a lot of questions about this program. Lets see if we can sort those out so that we can get you on your way to a career full of creativity and joy.</p><p>If you have questions that aren't answered below you can always email us directly or call us: <a href="/contact">Contact Us</a></p>
  <ul>
    <li><a href="/program.html">Program Description</a></li>
    <li><a href="">Application Process</a></li>
    <li><a href="">Alumni</a></li>
    <li><a href="">FAQ</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Technologies We Use</a></li>
  </ul>
</div>
<div class="right-col">
  <h2 class="line-half">Employers</h2>
  <p>Finding awesome people that work hard and get along with clients is incredibly hard. We've done most of that work for you, now all you need to do is find the one that matches your company style and ambitions and show them where to sit.</p><p>If you have questions that aren't answered below you can always email us directly or call us: <a href="/contact">Contact Us</a></p>
  <ul>
    <li><a href="">About Us</a></li>
    <li><a href="">Hiring a Student</a></li>
    <li><a href="">Lend a Hand</a></li>
    <li><a href="">FAQ</a></li>
  </ul>
</div>
<div class="full-width" id="alumni">
  <h2 class="line-half">Program Alumni</h2>
  <div class="third-col first">
    <img src="http://placekitten.com/g/200/300">
    <h3>Matthew Danskey</h3>
    <p><%= lorem.paragraph %></p>
  </div>
  <div class="third-col">
    <img src="http://placekitten.com/g/200/300">
    <h3>Pete Kinnecom</h3>
    <p><%= lorem.paragraph %></p>
  </div>
  <div class="third-col last">
    <img src="http://placekitten.com/g/200/300">
    <h3>Rachel Sakry</h3>
    <p><%= lorem.paragraph %></p>
  </div>
</div>
<div class="full-width" id="sponsors">
  <h2 class="line">Sponsors</h2>
  <div class="image-row">
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col last"><img src="http://placekitten.com/g/100/100"></div>
  </div>
  <div class="image-row">
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col"><img src="http://placekitten.com/g/100/100"></div>
    <div class="sixth-col last"><img src="http://placekitten.com/g/100/100"></div>
  </div>
  <div class="clearfix"></div>
</div>