<% @title = "Portland Code School" %>
<% @body_id = 'homepage' %>

<div class="home-img">
  <%= image_tag ('https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-frc1/c0.99.851.315/p851x315/904366_508439279192423_1716433595_o.jpg') %>
  <div class="text-overlay">
     <p>We learned code. So can you.</p>
     <a href="/apply.html">
       <button class="btn btn-large btn-success" type="button">Apply</button>
       <button class="btn btn-success btn-small btn-mobile" type="button">Apply</button>
     </a>
  </div>
  <div class="now-accepting">
    <h3>Now accepting applications for the fall session!</h3>
  </div>
</div>
