<% @title = "Portland Code School" %>
<div id="intro" class="full-width">
  <h2 class="line">The Program</h2>
  <p>When learning to program, between beginner tutorials and full-time software development there is an abyss of misunderstandings and false starts. How many programmers do we lose in this abyss? How many outstanding employees get stuck in the sand and never reach your HR person? Portland is a top-notch city for developers; we make sure that it's an oasis for newcomers.</p>
</div>
<div class="left-col">
  <h2 class="line-half">Students</h2>
  <p>Whether you're coming from another career or already know some programming, you probably have a lot of questions about this program. Lets see if we can sort those out so that we can get you on your way to a career full of creativity and joy.</p>
  <a href="/program.html" class="button">New Students</a>
</div>
<div class="right-col">
  <h2 class="line-half">Employers</h2>
  <p>Finding awesome people that work hard and get along with clients is incredibly hard. We've done most of that work for you, now all you need to do is find the one that matches your company style and ambitions and show them where to sit.</p>
  <a href="/hire.html" class="button">Employers</a>
</div>
<div class="full-width" id="alumni">
  <h2 class="line-half">Current Students</h2>
  <div class="third-col first">
    <img src="http://flickholdr.com/200/300/portrait/1">
    <h3>Matthew Danskey</h3>
    <p>Matt comes to us straight from college where he split his studies between computer science and psychology. These two fields share more than you might think and we often find that it's hard to tell which domain his solutions come from; but no matter what they're always effective. He is whip smart and eager to pick up new technologies.</p>
  </div>
  <div class="third-col">
    <img src="http://flickholdr.com/200/300/portrait/2">
    <h3>Pete Kinnecom</h3>
    <p>Pete holds two masters degrees in both Mathematics and Teaching and has been an invaluable ally in the creation of the program. He is always willing to speak up about what he's interested in learning next and brings a thoughtful approach to programming that is absolutely necessary to become a great programmer. He also makes great backgrounds.</p>
  </div>
  <div class="third-col last">
    <img src="http://flickholdr.com/200/300/portrait/3">
    <h3>Rachel Sakry</h3>
    <p>Rachel heralds from the field of musical composition and has had her works performed by orchestras world-wide. Yet, she has still found time to make programming a prominent part of her history for the last 3 years taking night courses and hacking where she can. She brings a level of knowledge to the team that has helped everyone immensely.</p>
  </div>
</div>
<div class="full-width" id="sponsors">
  <h2 class="line">Sponsors</h2>
  <div class="image-row">
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/1"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/2"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/3"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/4"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/5"></div>
    <div class="sixth-col last"><img src="http://flickholdr.com/100/100/logo/6"></div>
  </div>
  <div class="image-row">
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/7"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/8"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/9"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/10"></div>
    <div class="sixth-col"><img src="http://flickholdr.com/100/100/logo/11"></div>
    <div class="sixth-col last"><img src="http://flickholdr.com/100/100/logo/12"></div>
  </div>
  <div class="clearfix"></div>
</div>