<% @title = "Portland Code School - JavaScript" %>
<% @body_id = "js" %>

<div class="well details-box">
  <h1>JavaScript</h1>
  <h2>and the Front End</h2>
  <h3>2013 Fall Session</h3>
  <a href="JS-ClassDetails.pdf" target="_blank">
    <button class="btn btn-primary" type="button">View the PDF</button>
  </a>
</div>
