<div id="intro" class="full-width">
  <h2>The Program</h2>
  <p>This program is for smart, creative, passionate, super-rad people who want to learn code and jump-start a career in web development.</p>
  <p>The program is designed to teach students the essentials of programming quickly and give them the tools and support they need to keep learning and growing as a developer. Portland is a top-notch city for developers; we make sure that it's an oasis for newcomers.</p>
</div>
<div class="left-col">
  <h2>Students</h2>
  <p>Whether you're coming from another career or already know some programming, you probably have a lot of questions about this program. Click here to get started on your way to a career full of creativity and joy.</p>
  <a href="/program.html" class="button">New Students</a>
</div>
<div class="right-col">
  <h2>Employers</h2>
  <p>Finding awesome people that work hard and get along with clients can be hard. We've done the work for you; all you need to do is find the student that matches your company style and show them where to sit.</p>
  <a href="/hire.html" class="button">Employers</a>
</div>
<div class="full-width" id="sponsors">
  <h2>Our Partners</h2>
  <div class="clearfix">
    <div class="third-col bd-logo">
      <h3>Made With Love By</h3>
      <br>
      <a href="http://burnsidedigital.com">
        <div id="burnside-logo">
          <%= image_tag('/images/partner_company_logos/logo-burnside-digital-small.png') %>
        </div>
      </a>
    </div>
    <div class="image-row">
      <div class="sixth-col"><a href="http://newrelic.com/jobs"><img src="/images/partner_company_logos/new_relic_logo_square_100.png"></a></div>
      <div class="sixth-col"><a href="http://www.jivesoftware.com/careers/"><img src="/images/partner_company_logos/jive_logo_100x100.jpg"></img></a></div>
      <div class="third-col" id="crowdcompass"><a href="http://www.crowdcompass.com/"><img src="/images/partner_company_logos/crowd_compass_logo_rectangle_200x100.png"></a></div>
      <div class="third-col"><a href="http://showyou.com/jobs" class="double-wide"><img src="/images/partner_company_logos/showyou-black-200x100.png"></a></div>
      <div class="third-col" id="elemental"><a href="http://www.elementaltechnologies.com/company/careers/opportunities-at-elemental" class="double-wide"><img src="/images/partner_company_logos/elemental_logo_200x100.png"></img></a></div>
      <!--
      <div class="third-col"><a href="#" class="double-wide"><img src="/images/partner_company_logos/"></img></a></div>
      <div class="sixth-col"><a href="#"><img src="/images/partner_company_logos/"></img></a></div>
      -->
    </div>
  </div>
</div>