<h2>Student Perks</h2>

<p>
  At Portland Code School, we want to help students reach their goals, regardless of their current level of knowledge or outside responsibilities. As a result, Portland Code School students gain access to many tools, services, and a customized learning environment to support them in their journey to level up their programming skills. Benefits include:
</p>
<ul>
  <li><%= link_to "Childcare provided", "/childcare.html" %> by <%= link_to "WeVillage", "http://www.wevillage.com/" %>, on your schedule</li>
  <li><%= link_to "Treehouse", "http://teamtreehouse.com/" %> accounts</li>
  <li>One-on-one instruction</li>
  <li>Introduction to the Portland tech community</li>
  <li>Tours of tech companies in Portland</li>
  <li>Portfolio development</li>
  <li>Mock interviews, resume review, and job search coaching</li>
  <li>Catered Saturday sessions</li>
  <li>Teambuilding sessions</li>
  <li>Be surrounded by peers learning the same material</li>
  <li>Supportive learning environment</li>
</ul>