<% @title = "Portland Code School - Program Overview" %>
<div class="readable-width">
  <h2>Program Overview</h2>
  <p>The Portland Code School runs 12-week sessions three times a year. The application process is competitive and students are selected based on their passion for programming, their strong communication skills, and their ability to work as part of a team.</p>
<p>Class structure and lessons follow agile methodologies; we hold a standup meeting each day to recognize what everyone is doing, we demo weekly, and we hold a planning and a retrospective meeting each week.</p>
<p>The program is organized around four key concepts essential to being a successful web developer:
  <ul>
    <li>Web skills</li>
    <li>Programming skills</li>
    <li>Hands-on Experience</li>
    <li>Networking and Community Engagement</li>
</ul>
</p>
 <h2>After Graduation</h2>
 <p>We strongly believe that education doesn't end when the program does. We maintain a post-graduation mailing-list and chatroom as well as opportunities to connect with programmer networks, workshops, and professional development opportunities.</p>
</div>
<div class="readable-width">
  <h2>Tuition & Fees</h2>
  <p><strong>Total cost per student: $7,500</strong></p>
  <p><strong>A Non-refundable deposit is due upon acceptance to the program: $1,000</strong></p>
  <p><strong>The remaining $6,500 is due 21 after the start of the session.</strong></p>
  <p><strong>Tuition Refund:</strong> If you accept a full-time job offer from one of the companies in our network they pay a placement fee that comes to you as a 100% tuition refund.</p>
  <p>If paying the full amount upfront presents a significant financial barrier to you, please contact us to discuss other options. </p>

  <!-- <h2>Skills We Cover</h2>
  <p><a href="/images/onesheet.pdf"><strong>Click here to download our Program Resume</a></strong></p> -->
</div>
<div class="clearfix">
  <div class="left-col">
    <h2>Web Skills</h2>
    <ul>
      <li>HTML, CSS, JS, Forms</li>
      <li>SQL, Databases, Relationships, Alternate ORMs, NoSQL databases</li>
      <li>Routing, Layout engines, ‪‪Sinatra and Rails</li>
      <li>CSS3/HTML5 elements, AJAX, Bootstrap, Grid layouts‬, Typography, Backbone and Ember</li>
      <li>Deployment, AWS services, YSlow‬, Asset compilation and compression</li>
      <li>Various gems and libraries</li>
    </ul>
  </div>
  <div class="right-col">
    <h2>Programming Skills</h2>
    <ul>
      <li>Ruby basics, data structures, rvm/rbenv, Git/Github ‬</li>
      <li>Creating gems, classes and objects, meta-programming, common ruby idioms, programming patterns</li>
      <li>Blocks/closures, queues, project estimation, regexes, OOP, Data modeling, refactoring</li>
      <li>MongoDB, Memcached, Redis, concurrency, *nix systems</li>
      <li>Pull requests, agile methods</li>
    </ul>
  </div>
</div>
<div class="readable-width">
  <h2>Experience and Practice</h2>
  <ul>
    <li>Open Source Contributions: make contributions to major open source projects</li>
    <li>Client and Project Work: collaborate with a development team on a client project</li>
    <li>Professional Development & Networking: attend programmer meet-ups, networking events, and participate in professional programmer communities</li>
  </ul>
</div>