<% @title = "Portland Code School - Program Overview" %>
<div class="readable-width">
  <h2 class="line-half">Program Overview</h2>
  <p>The Portland Code School runs 12-week sessions 3 times each year. Sessions are fulltime and space is limited so students must apply to participate. For application instructions, visit: <a href="http://www.portlandcodeschool.com/apply.html">http://www.portlandcodeschool.com/apply.html</a></p>
</div>
<div class="readable-width">
  <h2 class="line">Program Fees</h2>
  <p>Portland Code School runs on a very small budget that covers teacher salaries, student materials, and space. The total program cost per student is $7500.</p>
  <p>As with most Code Schools, students pay $1000 at the beginning of their session and pay the remainder of their fees one of two ways:</p>
  <ul>
    <li>An employer within the Portland Code School network pays the remaining $6,500 in student fees if the graduating student accepts an offer of employment.</li>
    <li>Students not hired within network may pay the remaining student fee on a payment plan to be worked out with the Portland Code School.</li>
  </ul>
  <p><strong>Total Program Cost per Student: $7,500</strong></p>
  <p><strong>Deposit fee due upon acceptance to the program to hold your spot: $500</strong></p>
  <p><strong>Registration Fee Due at the Start of the Session: an additional $500</strong></p>
  <p>If you are not able to pay the full program cost of $7500, we offer a payment plan, with interest.</p>
  <p>Also, if you receive and accept a full-time job offer from one of the companies in our network they pay a placement fee that comes to you as a 100% tuition refund.</p>
  <p>Also, if you receive and accept a full-time job offer from one of the companies in our network they pay a placement fee that comes to you as a 100% tuition refund.</p>

  <h2 class="line-half">Program Structure</h2>
  <p>The program is split into two sections; the first section is dedicated to learning the basic programming skills most critical to being a successful web developer. The latter section is dedicated to hands-on work with real client projects, pairing with full-time developers, and extensive code review.</p>
  <p>Class structure and lessons follow agile methodologies; we hold a standup meeting each day to recognize what everyone is doing, we demo weekly, and we hold a planning and a retrospective meeting each week.</p>
</div>