<% @title = "Portland Code School - Program Overview" %>



<div id="rails-desc">
  <div class="rails-logo well">
    <%= image_tag('http://www.necolt.com/assets/technologies/ruby-5f063c0de539ec15ee4f91192bdb0897.png') %>
    <p><strong>WHO:</strong> For those with a technical background and the code hobbyist.</p>
    <p><strong>WHY:</strong> Being a Rails developer is like wielding a Light Saber while wearing the One Ring on your finger at the same time. It is truly all powerful. It's also a sure way to make you HIGHLY desirable in the tech industry, and immediately command a $40-50/hr job.</p>
    <p><strong>WHAT:</strong> Rails is a robust framework written in the Ruby language that is used to build amazing, full featured dynamic websites. Read more about Ruby on Rails <a href="http://rubyonrails.org/">here</a>.</p>
    <p><strong>COST:</strong> $3500</p>
    <a href="/rails.html">
      <button class="btn btn-success" type="button">Class Details</button>
    </a>
  </div>
</div>

<div id="js-desc">
  <div class="js-logo well">
    <%= image_tag('http://inspiredtalents.com/wp-content/uploads/2012/08/javascript.png') %>
    <p><strong>WHO:</strong> For the complete beginner and the code hobbyist.</p>
    <p><strong>WHY:</strong> Learning JavaScript is one of the best languages to learn right now. The demand is so high, the tech wanted ads literally brimmeth over with job postings for JavaScript Engineers. (Don't let that title scare you...'engineers' is a word with many meanings.)</p>
    <p><strong>WHAT:</strong> JavaScript is arguably the most powerful language used in web development. It can be used in many ways, from building simple jQuery sliders and creative interactivity, to full object-oriented programming. One great thing about JavaScript is its many popular frameworks, such as AngularJS and NodeJS, which are only growing in demand. Read more about JavaScript <a href="http://en.wikipedia.org/wiki/JavaScript">here.</a></p>
    <p><strong>COST:</strong> $3500</p>
    <a href="/js.html">
      <button class="btn btn-success" type="button">Class Details</button>
    </a>
  </div>
