<% @title = "Portland Code School - Program Overview" %>



<div id="rails-desc">
  <div class="rails-logo well">
    <h3>Ruby on Rails</h3>
    <%= image_tag('http://blog.smalleycreative.com/wp-content/uploads/2011/01/rails.png') %>
    <p><strong>WHO:</strong> For those with a technical background and the code hobbyist.</p>
    <p><strong>WHY:</strong> Being a Rails developer is like wielding a Light Saber while wearing the One Ring on your finger at the same time. It is truly all powerful. It's also a sure way to make you HIGHLY desirable in the tech industry, and immediately command a $40-50/hr job.</p>
    <p><strong>WHAT:</strong> Rails is a robust framework written in the Ruby language that is used to build amazing, full featured dynamic websites. Read more about Ruby on Rails <a href="http://rubyonrails.org/">here</a>.</p>
    <p><strong>WHEN:</strong> First class is Monday, September 30, 6-9pm</p>
    <p><strong>COST:</strong> $3500</p>
    <a href="/rails.html">
      <button class="btn btn-success" type="button">Class Details</button>
    </a>
  </div>
</div>

<div id="js-desc">
  <div class="js-logo well">
    <h3>JavaScript and the Front End</h3>
    <%= image_tag('http://inspiredtalents.com/wp-content/uploads/2012/08/javascript.png') %>
    <p><strong>WHO:</strong> For the complete beginner and the code hobbyist.</p>
    <p><strong>WHY:</strong> Learning JavaScript is like eating ice cream on top of Machu Picchu on a sunny summer solstice. It is simply one of the best languages to learn right now. The demand is so high, the tech wanted ads literally brimmeth over with job postings for developers with JavaScript skills.</p>
    <p><strong>WHAT:</strong> JavaScript is arguably the most powerful language used in web development. It can be used in many ways, from building simple jQuery sliders and creative interactivity, to full object-oriented programming. One great thing about JavaScript is its many popular frameworks, such as AngularJS and BackboneJS, which are only growing in demand. Read more about JavaScript <a href="http://en.wikipedia.org/wiki/JavaScript">here.</a></p>
    <p><strong>WHEN:</strong> First class is Tuesday, October 1, 6-9pm</p>
    <p><strong>COST:</strong> $3500</p>
    <a href="/js.html">
      <button class="btn btn-success" type="button">Class Details</button>
    </a>
  </div>
