<% @title = "Portland Code School - Program Overview" %>



<div id="rails-desc">
  <div class="rails-logo well">
    <%= image_tag('http://www.necolt.com/assets/technologies/ruby-5f063c0de539ec15ee4f91192bdb0897.png') %>
    <p><strong>WHO:</strong> For those with a technical background and the code hobbyist.</p>
    <p><strong>WHY:</strong> Learning Ruby on Rails a way to immediately command a $40-50/hr job.</p>
    <p><strong>WHAT:</strong> Rails is a robust, excellent framework that is used to build amazing, full featured dynamic websites.</p>
    <a href="#">
      <button class="btn btn-success" type="button">Details</button>
    </a>
  </div>
</div>

<div id="js-desc">
  <div class="js-logo well">
    <%= image_tag('http://inspiredtalents.com/wp-content/uploads/2012/08/javascript.png') %>
    <p><strong>WHO:</strong> For the complete beginner and the code hobbyist.</p>
    <p><strong>WHY:</strong> Learning JavaScript is one of the best decisions for a person looking to enter the tech industry. The demand is so high, the tech wanted ads literally brimmeth over with job postings for JavaScript Engineers. (Don't let that title scare you...'engineers' is a word with many meanings.)</p>
    <p><strong>WHAT:</strong> JavaScript is arguably the most powerful language of the web. It can be used in many ways, from building simple sliders and image galleries, to full object-oriented programming. One of the amazing things about JavaScript right now is the many frameworks, such as AngularJS and NodeJS, which allow programmers to create full featured dynamic websites with relative ease (emphasis on the word 'ease' :).</p>
    <a href="#">
      <button class="btn btn-success" type="button">Details</button>
    </a>
  </div>
