---
title: Special Thanks
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Special Thanks</h2>

<p>
  This page is dedicated to all the wonderful people who have had a hand in making Portland Code School the wonderful place it is today. For your dreams, your time, and your heart, we thank you sincerely.
</p>

<hr>

<h3 class="thanks">Chuck Lauer Vose</h3>
<p>
  <strong>Founder of Portland Code School and Former Instructor</strong><br>
  Chuck is an inspirational instructor with a great breadth and depth of knowledge. He's such an excellent person, he can't help but enable those around him to also be excellent.
</p>

<h3 class="thanks">Erica Lauer Vose</h3>
<p>
  <strong>Founding Director of Portland Code School</strong><br>
  Erica is a brilliant, detail-oriented orchestrator of programs. With a kind heart and a gentle soul, wherever she goes in this world, good things will follow.
</p>

<h3 class="thanks">Omid Rahmat</h3>
<p>
  <strong>Burnside Digital</strong><br>
  Omid was the first financial backer, and the first business analyst to help us on our path. He was there to give us seed money to get started, and he was there to make sure we were on track to be off of investment funds as soon as possible. And even above that, he's dealt with all the legal paperwork to get the program running.
</p>

<h3 class="thanks">Pete Kinnecom, Rachel Sakry, Matt Danskey</h3>
<p>
  <strong>Portland Code School</strong><br>
  The first group of students, the guinea pigs. I have no words for the depth of gratitude we have towards this trio and we love seeing them flourish in their new careers!
</p>

<hr>

<h3>Additional Thanks To:</h3>
<ul>
  <li>Karen Beninati - WeVillage</li>
  <li>Nathan Calies</li>
  <li>Dave Shanley, Ben Cullen-Kerney, Kristina Turney, & Kevin Steigerwald - Crowd Compass</li>
  <li>Marc Charbonneau, Patrick Curtain, Victor Christensen - Burnside Digital</li>
  <li>Lorenzo Ciacci - The Clymb</li>
  <li>Luc Perkins - AppFog</li>
  <li>Jewel Mlnarik - Temboo</li>
  <li>Jade Rubick - New Relic</li>
  <li>Randall Hansen - Puppet Labs</li>
  <li>Bill Siebold - Art Institute</li>
  <li>Hal Newton - PageMutant / WholeBrain</li>
</ul>
