//Variables
$main-bg-color: #FFF;
// I demand a pancake
$text-color: #594F4F;
$bg-color: #ADB6E8;
$link-color: #45ADA8;
$title-color: #888888;
$highlight-color: #9EB8E8;
// I love you
// $text-color: #594F4F;
// $bg-color: #009989;
// $link-color: #EDB92E;
// $title-color: #CE1836;
// $highlight-color: #EDB92E;