//Variables
$main-bg-color: #FDF9FF;
// I demand a pancake
$text-color: #594F4F;
$bg-color: #BADA55;
$link-color: #45ADA8;
$title-color: #888888;
$highlight-color: #9EB8E8;
$elvish: #403F45; // main gray
$yum-sauce: #FFDE00; // main yello
$font-size: 1em;
// I love you
// $text-color: #594F4F;
// $bg-color: #009989;
// $link-color: #EDB92E;
// $title-color: #CE1836;
// $highlight-color: #EDB92E;